{% extends "admin_base.html" %}
{% load static %}
{% load beautify_line %}

{% block title %}{{ house }}{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'admin_panel/css/services_measure.css' %}">
{% endblock %}

{% block content %}
{% if form.errors %}
{% include 'errors.html' with errors=form.errors %}
{% endif %}
{% if section_formset.errors %}
{% include 'errors.html' with errors=section_formset.errors|prepare_error_message %}
{% endif %}
{% if floor_formset.errors %}
{% include 'errors.html' with errors=floor_formset.errors|prepare_error_message %}
{% endif %}
{% if user_formset.errors %}
{% include 'errors.html' with errors=user_formset.errors|prepare_error_message %}
{% endif %}
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2 border_bottom" style="align-items: center;">
                <div class="col-sm-6">
                    <h1 class="m-0">
                        {{ house }}
                    </h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <nav aria-label="breadcrumb" class="breadcrumb_pull_right">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'admin_panel:index' %}" style="color: black;">
                                <i class="fa fa-home"></i>Главная</a></li>
                            <li class="breadcrumb-item">
                                <a href="{% url 'admin_panel:list_houses_admin' %}"
                                   style="color: black;">Дома</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">{{ house }}</li>
                        </ol>
                    </nav>
                </div>
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>


    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12" style="margin-top:15px;">
                    <div class="card card-default">
                        <div class="card-header">
                            <a href="{% url 'admin_panel:update_house_admin' house.pk %}" class="btn btn-primary" style="float:right;">Редактировать дом</a>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-md-12 col-lg-4">
                                    <table class="table table-bordered table-striped table-view">
                                        <tr>
                                            <td>Название</td>
                                            <td>{{ house }}</td>
                                        </tr>
                                        <tr>
                                            <td>Адрес</td>
                                            <td>{{ house.address }}</td>
                                        </tr>
                                        <tr>
                                            <td>Секций</td>
                                            <td>{{ house.sections.count }}</td>
                                        </tr>
                                        <tr>
                                            <td>Этажей</td>
                                            <td>{{ house.floors.count }}</td>
                                        </tr>
                                        <tr>
                                            <td>Пользователей</td>
                                            <td>
                                                {% for house_user in house.users.all %}
                                                    {{ house_user.user.role }}:
                                                <a href="{% url 'admin_panel:detail_user_admin' user.pk %}">{{ house_user.user.full_name }}</a>
                                                <br>
                                                {% endfor %}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-12 col-md-12 col-lg-8">
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            {% if house.image1 %}
                                            <img src="{{ house.image1.url }}" alt
                                                 class="house_large_img img_responsive margin-auto-bottom-30">
                                            {% else %}
                                            <img src="{% static 'img/default_form_image.png' %}" alt
                                                 class="house_large_img img_responsive margin-auto-bottom-30">
                                            {% endif %}
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="row">
                                                <div class="col-6 col-md-6">
                                                    {% if house.image2 %}
                                                    <img src="{{ house.image2.url }}" alt
                                                         class="house_small_image img_responsive margin-auto-bottom-30">
                                                    {% else %}
                                                    <img src="{% static 'img/default_form_image.png' %}" alt
                                                        class="house_large_img img_responsive margin-auto-bottom-30">
                                                    {% endif %}
                                                </div>
                                                <div class="col-6 col-md-6">
                                                    {% if house.image3  %}
                                                    <img src="{{ house.image3.url }}" alt
                                                         class="house_small_image img_responsive margin-auto-bottom-30">
                                                    {% else %}
                                                    <img src="{% static 'img/default_form_image.png' %}" alt
                                                        class="house_large_img img_responsive margin-auto-bottom-30">
                                                    {% endif %}
                                                </div>
                                                <div class="col-6 col-md-6">
                                                    {% if house.image4 %}
                                                    <img src="{{ house.image4.url }}" alt
                                                         class="house_small_image img_responsive margin-auto-bottom-30">
                                                    {% else %}
                                                    <img src="{% static 'img/default_form_image.png' %}" alt
                                                        class="house_large_img img_responsive margin-auto-bottom-30">
                                                    {% endif %}
                                                </div>
                                                <div class="col-6 col-md-6">
                                                    {% if house.image5 %}
                                                    <img src="{{ house.image5.url }}" alt
                                                         class="house_small_image img_responsive margin-auto-bottom-30">
                                                    {% else %}
                                                    <img src="{% static 'img/default_form_image.png' %}" alt
                                                        class="house_large_img img_responsive margin-auto-bottom-30">
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'bootstrap/jquery/jquery.min.js' %}"></script>
{% endblock %}
