{% extends "admin_base.html" %}
{% load static %}

{% block title %}Дома{% endblock %}


{% block content %}
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2 border_bottom" style="align-items: center;">
                <div class="col-sm-6">
                    <h1 class="m-0">Дома</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <nav aria-label="breadcrumb" class="breadcrumb_pull_right">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'admin_panel:index' %}" style="color: black;">
                                <i class="fa fa-home"></i> Главная</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Дома</li>
                        </ol>
                    </nav>
                </div>
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>


    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <a href="{% url 'admin_panel:create_house_admin' %}" class="btn btn-success" style="float: right;">Добавить
                        дом</a>
                </div>
                <div class="col-12" style="margin-top:15px;">
                    <div class="card card-default">
                        <div class="card-header">
                            <a href="{% url 'admin_panel:list_houses_admin' %}" class="btn btn-default"
                            style="float:right;">Очистить</a>
                        </div>
                        <div class="card-body card-body table-responsive p-0">
                            <form action="" method="get">
                                {% csrf_token %}
                            <table class="table table-hover table-striped text-nowrap linkedRow">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>
                                        {% if 'name_ascending' in request.path %}
                                            <a href="{% url 'admin_panel:list_houses_name_descending_admin' %}"
                                            class="submit_link">
                                               Название <i class="fas fa-sort-amount-up"></i>
                                            </a>
                                            <input type="hidden" class="next_link" 
                                            value="{% url 'admin_panel:list_houses_name_descending_admin' %}">
                                        {% elif 'name_descending' in request.path %}
                                            <a href="{% url 'admin_panel:list_houses_name_ascending_admin' %}"
                                            class="submit_link">
                                               Название <i class="fas fa-sort-amount-down"></i>
                                            </a>
                                            <input type="hidden" class="next_link" 
                                            value="{% url 'admin_panel:list_houses_name_ascending_admin' %}">
                                        {% else %}
                                            <a href="{% url 'admin_panel:list_houses_name_ascending_admin' %}"
                                            class="submit_link">
                                                   Название
                                            </a>
                                            <input type="hidden" class="next_link" 
                                            value="{% url 'admin_panel:list_houses_name_ascending_admin' %}">
                                        {% endif %}
                                    </th>
                                    <th>
                                        {% if 'address_ascending' in request.path %}
                                            <a href="{% url 'admin_panel:list_houses_address_descending_admin' %}"
                                            class="submit_link">
                                               Адрес <i class="fas fa-sort-amount-up"></i>
                                            </a>
                                            <input type="hidden" class="next_link" 
                                            value="{% url 'admin_panel:list_houses_address_descending_admin' %}">
                                        {% elif 'address_descending' in request.path %}
                                            <a href="{% url 'admin_panel:list_houses_address_ascending_admin' %}"
                                            class="submit_link">
                                               Адрес <i class="fas fa-sort-amount-down"></i>
                                            </a>
                                            <input type="hidden" class="next_link" 
                                            value="{% url 'admin_panel:list_houses_address_ascending_admin' %}">
                                        {% else %}
                                            <a href="{% url 'admin_panel:list_houses_address_ascending_admin' %}"
                                            class="submit_link">
                                                   Адрес
                                            </a>
                                            <input type="hidden" class="next_link" 
                                            value="{% url 'admin_panel:list_houses_address_ascending_admin' %}">
                                        {% endif %}
                                    </th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td></td>
                                    <td>
                                            {{ form.name }}
                                    </td>
                                    <td>
                                            {{ form.address }}
                                    </td>
                                    <td></td>
                                </tr>

                                {% for house in instances %}
                                <tr>
                                    <td><a href="{% url 'admin_panel:detail_house_admin' house.pk %}">{{ house.pk }}</a></td>
                                    <td><a href="{% url 'admin_panel:detail_house_admin' house.pk %}">{{ house.name }}</a></td>
                                    <td><a href="{% url 'admin_panel:detail_house_admin' house.pk %}">{{ house.address }}</a></td>
                                    <td>
                                        <div class="btn-group">
                                            <a class="btn btn-default btn-sm"
                                               href="">
                                                <i class="fas fa-redo-alt"></i>
                                            </a>
                                            <a class="btn btn-default btn-sm"
                                               href="{% url 'admin_panel:update_house_admin' house.pk %}">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                            <a class="btn btn-default btn-sm delete_instances"
                                               href="{% url 'admin_panel:delete_house_admin' house.pk %}">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="4">Ничего не найдено</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            </form>
                        </div>
                        <div class="card-footer">
                            Количество домов: <strong>{{ count }}</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'bootstrap/jquery/jquery.min.js' %}"></script>
<script src="{% static 'admin_panel/js/utils.js' %}"></script>
<script>
    $(document).ready(function(){
        submit_form_after_keypress();
        submit_form_after_ordering();
        confirm_deleting();
    })
</script>
{% endblock %}
