{% extends "admin_base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans 'Tariffs' %}{% endblock %}


{% block content %}
{% if form.errors %}
{% include 'errors.html' with errors=form.errors %}
{% endif %}
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2 border_bottom" style="align-items: center;">
                <div class="col-sm-6">
                    <h1 class="m-0">{% trans 'Tariffs' %}</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <nav aria-label="breadcrumb" class="breadcrumb_pull_right">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'admin_panel:index' %}" style="color: black;">
                                <i class="fa fa-home"></i> {% trans 'Home' %}</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{% trans 'Tariffs' %}</li>
                        </ol>
                    </nav>
                </div>
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>


    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <a href="{% url 'admin_panel:create_tariff' %}" class="btn btn-success" style="float: right;">{% trans 'Add tariff' %}</a>
                </div>
                <div class="col-12" style="margin-top:15px;">
                    <div class="card card-default">
                        <div class="card-body card-body table-responsive p-0">
                            <table class="table table-hover table-striped text-nowrap linkedRow">
                                <thead>
                                <tr>
                                    <th><a href="">{% trans 'Tariff name' %}</a></th>
                                    <th>{% trans 'Tariff description' %}</th>
                                    <th>{% trans 'Edit date' %}</th>
                                    <th style="width: 40px"></th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for tariff in tariffs %}
                                    <tr>
                                        <td><a href="{% url 'admin_panel:detail_tariff_admin' tariff.pk %}">{{ tariff.name }}</a></td>
                                        <td><a href="{% url 'admin_panel:detail_tariff_admin' tariff.pk %}">{{ tariff.description }}</a></td>
                                        <td><a href="{% url 'admin_panel:detail_tariff_admin' tariff.pk %}">{{ tariff.updated }}</a></td>
                                        <td>
                                            <div class="btn-group">
                                                <a class="btn btn-default btn-sm" href="{% url 'admin_panel:duplicate_tariff' tariff.pk %}"
                                                title="{% trans 'Copy' %}">
                                                    <i class="fa fa-clone"></i>
                                                </a>
                                                <a class="btn btn-default btn-sm" href="{% url 'admin_panel:update_tariff' tariff.pk %}"
                                                title="{% trans 'Edit' %}">
                                                    <i class="fas fa-edit"></i>
                                                </a>
                                                <a class="btn btn-default btn-sm delete_instances" href="{% url 'admin_panel:delete_tariff' tariff.pk %}"
                                                title="{% trans 'Delete' %}">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="4">{% trans 'No data found' %}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer">
                            <div class="row" style="align-items:center;">
                                <div class="col-6">
                                    {% include "pagination.html" with page=page_obj %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'bootstrap/jquery/jquery.min.js' %}"></script>
<script src="{% static 'admin_panel/js/utils.js' %}"></script>
<script>
    $(document).ready(function(){
        confirm_deleting();
    })
</script>
{% endblock %}
