{% extends "auth/base_login.html" %}
{% load static %}


{% block content %}
<div class="login_box" style="background-color:white;">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#for_clients" data-toggle="tab" class="active" id="client_link"
                style="display:block;">Для жильца</a>
            </li>
            <li>
                {% if request.user.is_staff and request.user.is_authenticated %}
                <a href="{% url 'admin_panel:index' %}"
                style="display:block;">Для администрации</a>
                {% else %}
                <a href="{% url 'website:admin_site_login_view' %}"
                style="display:block;">Для администрации</a>
                {% endif %}
            </li>
        </ul>
    </div>

    <div class="tab-content">
        <div class="tab-pane active" id="for_clients">
            <form action="" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col">
                        <div class="login-content">
                            <p class="login-msg">Вход в личный кабинет</p>

                            <div class="input-container">
                                {{ form.login_data }}
                                <span class="fa fa-envelope form-control-feedback"></span>
                            </div>
                            <div class="input-container">
                                {{ form.password }}
                                <span class="fa fa-lock form-control-feedback"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="padding: 0 25px 25px 25px;">
                    <div class="col-xl-12">
                        <div class="custom-control custom-checkbox" style="float: left;">
                            <input class="custom-control-input" type="checkbox" id="customCheckbox1" value="option1">
                            <label for="customCheckbox1" class="custom-control-label">Запомнить меня</label>
                        </div>
                    </div>
                    <div class="col-xl-12" style="margin-top:15px;">
                        <button type="submit" class="btn btn-primary btn-block login_button">Вход</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

 <script src="{% static 'bootstrap/jquery/jquery.min.js' %}"></script>
{% endblock %}