{% extends "admin_base.html" %}
{% load static %}

{% block title %}Счетчики{% endblock %}


{% block content %}
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2 border_bottom" style="align-items: center;">
                <div class="col-sm-6">
                    <h1 class="m-0">Счетчики</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <nav aria-label="breadcrumb" class="breadcrumb_pull_right">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'admin_panel:index' %}" style="color: black;">
                                <i class="fa fa-home"></i> Главная</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Счетчики</li>
                        </ol>
                    </nav>
                </div>
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>


    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <a href="{% url 'admin_panel:create_meter_admin' %}" class="btn btn-success" style="float: right;">Добавить
                        показание</a>
                </div>
                <div class="col-12" style="margin-top:15px;">
                    <div class="card card-default">
                        <div class="card-header">
                            <a href="{% url 'admin_panel:list_meters_admin' %}" class="btn btn-default"
                            style="float:right;">Очистить</a>
                        </div>
                        <div class="card-body card-body table-responsive p-0">
                            <form action="" method="get">
                                {% csrf_token %}
                            <table class="table table-hover table-striped text-nowrap linkedRow">
                                <thead>
                                <tr>
                                    <th>Дом</th>
                                    <th>Секция</th>
                                    <th>
                                        {% if 'number_ascending' in request.path %}
                                            <a href="{% url 'admin_panel:list_meters_number_descending_admin' %}"
                                            class="submit_link">
                                               № квартиры <i class="fas fa-sort-amount-up"></i>
                                            </a>
                                            <input type="hidden" class="next_link" 
                                            value="{% url 'admin_panel:list_meters_number_descending_admin' %}">
                                        {% elif 'number_descending' in request.path %}
                                            <a href="{% url 'admin_panel:list_meters_number_ascending_admin' %}"
                                            class="submit_link">
                                               № квартиры <i class="fas fa-sort-amount-down"></i>
                                            </a>
                                            <input type="hidden" class="next_link" 
                                            value="{% url 'admin_panel:list_meters_number_ascending_admin' %}">
                                        {% else %}
                                            <a href="{% url 'admin_panel:list_meters_number_ascending_admin' %}"
                                            class="submit_link">
                                                   № квартиры
                                            </a>
                                            <input type="hidden" class="next_link" 
                                            value="{% url 'admin_panel:list_meters_number_ascending_admin' %}">
                                        {% endif %}
                                    </th>
                                    <th>Счетчик</th>
                                    <th>Текущее показание</th>
                                    <th>Ед. изм.</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>{{ form.house }}</td>
                                    <td>
                                        {{ form.section }}
                                    </td>
                                    <td>
                                        {{ form.flat }}
                                    </td>
                                    <td>
                                        {{ form.service }}
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>

                                {% for meter in instances %}
                                <tr>
                                    <td><a href="{% url 'admin_panel:list_meter_history' meter.flat.pk %}">{{ meter.house }}</a></td>
                                    <td><a href="{% url 'admin_panel:list_meter_history' meter.flat.pk %}">{{ meter.section }}</a></td>
                                    <td><a href="{% url 'admin_panel:list_meter_history' meter.flat.pk %}">{{ meter.flat }}</a></td>
                                    <td><a href="{% url 'admin_panel:list_meter_history' meter.flat.pk %}">{{ meter.service }}</a></td>
                                    <td><a href="{% url 'admin_panel:list_meter_history' meter.flat.pk %}">{{ meter.data }}</a></td>
                                    <td><a href="{% url 'admin_panel:list_meter_history' meter.flat.pk %}">{{ meter.service.measure }}</a></td>
                                    <td>
                                        <div class="btn-group">
                                            <a class="btn btn-default btn-sm" target="_blank"
                                               href="{% url 'admin_panel:duplicate_meter_admin' meter.pk %}">
                                                <i class="fas fa-tachometer-alt"></i>
                                            </a>
                                            <a class="btn btn-default btn-sm"
                                               href="{% url 'admin_panel:list_meter_history' meter.flat.pk %}">
                                                <i class="fas fa-eye"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'bootstrap/jquery/jquery.min.js' %}"></script>
<script src="{% static 'admin_panel/js/utils.js' %}"></script>
<script src="{% static 'admin_panel/js/requests.js' %}"></script>
<script>
    $(document).ready(function(){
        submit_form_after_keypress();
        submit_form_after_ordering();
    
        let value = $('select[name=house]').find(':selected').val();
        update_select(element=$('#id_section'), url="{% url 'rest_api:get_section_list' %}", parent_pk=value,
                      constructor=append_select_section_floor);

        $('select[name=house]').on('change', function(){
            let value = $(this).find(':selected').val();
            update_select(element=$('#id_section'), url="{% url 'rest_api:get_section_list' %}", parent_pk=value,
                          constructor=append_select_section_floor);
        })
    })
</script>
{% endblock %}
