{% extends "admin_base.html" %}
{% load static %}
{% load right_date %}

{% block title %}Показания счетчиков, кв.{{ meter.flat.number }}{% endblock %}

{% block content %}
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2 border_bottom" style="align-items: center;">
                <div class="col-sm-6">
                    <h1 class="m-0">
                        Показания счетчиков, кв.{{ meter.flat.number }}
                    </h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <nav aria-label="breadcrumb" class="breadcrumb_pull_right">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'admin_panel:index' %}" style="color: black;">
                                <i class="fa fa-home"></i>Главная</a></li>
                            <li class="breadcrumb-item">
                                <a href="{% url 'admin_panel:list_meters_admin' %}"
                                   style="color: black;">Счетчики</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="{% url 'admin_panel:list_meters_admin' %}"
                                   style="color: black;">Показания счетчиков, кв.{{ meter.flat.number }}</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Показания счетчки №{{ meter.number }}
                            </li>
                        </ol>
                    </nav>
                </div>
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>


    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-7 col-lg-6">
                    <div class="page-header">
                        <div class="form-group" style="margin: 0; flex-basis: 45%;">
                            <div class="input-group">
                                <div class="input-group-addon to_valid">
                                    №
                                </div>
                                <input type="text" class="form-control"
                                       value="{{ meter.number }}" disabled>
                            </div>
                        </div>
                        <span style="margin: 0 15px;">от</span>
                        <div class="form-group" style="margin: 0; flex-basis: 45%;">
                            <div class="input-group">
                                <input type="date" class="form-control" value="{{ meter.date|valid_date_format }}"
                                       disabled>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12" style="margin-top:15px;">
                    <div class="card card-default">
                        <div class="card-header">
                            <a href="{% url 'admin_panel:update_meter_admin' meter.pk %}"
                               class="btn btn-primary btn-sm"
                               style="float:right; margin-left:5px;">
                                Редактировать показание
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-lg-4">
                                    <div class="table-responsive no-padding">
                                        <table class="table table-bordered table-striped table-view">
                                            <tbody>
                                            <tr>
                                                <td>Счетчик</td>
                                                <td>{{ meter.service }}</td>
                                            </tr>
                                            <tr>
                                                <td>{% trans 'House' %}</td>
                                                <td>
                                                    {% if meter.house %}
                                                    <a href="{% url 'admin_panel:detail_house_admin' meter.house.pk %}">
                                                        {{ meter.house }}
                                                    </a>
                                                    {% else %}
                                                    Не указано
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>{% trans 'Section' %}</td>
                                                <td>
                                                    {% if meter.section %}
                                                    {{ meter.section }}
                                                    {% else %}
                                                    Не указано
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Квартира</td>
                                                <td>
                                                    {% if meter.flat %}
                                                    <a href="{% url 'admin_panel:detail_flat_admin' meter.flat.pk %}">
                                                        {{ meter.flat }}
                                                    </a>
                                                    {% else %}
                                                    Не указано
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Пользователь</td>
                                                <td>
                                                    {% if meter.flat.owner %}
                                                    <a href="{% url 'admin_panel:detail_owner_admin' meter.flat.owner.pk %}">
                                                        {{ meter.flat.owner.full_name }}
                                                    </a>
                                                    {% else %}
                                                    Не указано
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Текущее показание</td>
                                                <td>
                                                    {{ meter.data }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Ед. изм.</td>
                                                <td>
                                                    {{ meter.service.measure }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Статус</td>
                                                <td class="text-center">
                                                    {% if meter.status == 0 %}
                                                    <small class="label label-warning">Новое</small>
                                                    {% elif meter.status == 1 %}
                                                    <small class="label label-success">Учтено</small>
                                                    {% elif meter.status == 2 %}
                                                    <small class="label label-success">Учтено и оплачено</small>
                                                    {% else %}
                                                    <small class="label label-primary">Нулевое</small>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'bootstrap/jquery/jquery.min.js' %}"></script>
{% endblock %}
