{% extends "admin_base.html" %}
{% load static %}
{% load beautify_line %}
{% load utils %}

{% block title %}Редактирование страницы{% endblock %}

{% block head %}
<script src="https://cdn.tiny.cloud/1/4c0s2hrr61vyezka49reupxn64f4mwo8jtmsx297ybf93agh/tinymce/5/tinymce.min.js"
        referrerpolicy="origin"></script>
{% endblock %}


{% block content %}
{% if form.errors %}
{% include 'errors.html' with errors=form.errors %}
{% endif %}
{% if formset.errors %}
{% include 'errors.html' with errors=formset.errors|prepare_error_message %}
{% endif %}
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2 border_bottom" style="align-items: center;">
                <div class="col-sm-6">
                    <h1 class="m-0">Редактирование страницы</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <nav aria-label="breadcrumb" class="breadcrumb_pull_right">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'admin_panel:index' %}" style="color: black;">
                                <i class="fa fa-home"></i> Главная</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Редактирование страницы</li>
                        </ol>
                    </nav>
                </div>
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>


    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card card-default">
                        <div class="card-header">
                            <h5>Редактирование страницы "Тарифы"</h5>
                        </div>
                        <div class="card-body">
                            <div class="row border_bottom">
                                <div class="col-12">
                                    <h5>Информация</h5>
                                </div>
                            </div>

                            <form action="" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="row" style="margin-top: 20px;">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label for="title">Заголовок</label>
                                            {{ form.title }}
                                        </div>
                                        <div class="form-group">
                                            <label for="description">Краткий текст</label>
                                            {{ form.description }}
                                        </div>
                                    </div>
                                </div>

                                <div class="row border_bottom" style="margin-top:50px;">
                                    <div class="col-12">
                                        <h5>Изображения</h5>
                                    </div>
                                </div>

                                <div class="row" style="margin-top:20px;">
                                    {{formset.management_form}}
                                    <div class="col-md-4 formset formset_block"
                                         style="display:none;"
                                         id="hidden_blocks">
                                        <h4>Тариф <span class="counter"></span>
                                            <a href="javascript:void(0)" style="float:right;"
                                               class="text-red delete_icon_blocks">
                                                <i class="fa fa-trash" style="font-size:18px;"></i>
                                            </a>
                                        </h4>
                                        <img src="{% static 'img/default_form_image.png' %}" alt
                                             class="near_img preview_img">
                                        <label for="" style="margin-top:10px;">Рекомендуемый размер:
                                            (650x300) </label>
                                        <div class="form-group">
                                            {{ formset.empty_form.image }}
                                        </div>
                                        <div class="form-group">
                                            <label for="">Подпись</label>
                                            {{ formset.empty_form.title }}
                                        </div>
                                    </div>


                                    {% for inline_form in formset %}
                                    {% for hidden in inline_form.hidden_fields %}
                                    {{ hidden }}
                                    {% endfor %}
                                    <div class="col-md-4 formset formset_block">
                                        {{ inline_form.DELETE|add_class:'delete-input-hidden' }}
                                        <h4>Тариф <span class="counter">{{ forloop.counter }}</span>
                                            {% if inline_form.instance.pk %}
                                            <a href="javascript:void(0)" style="float:right;"
                                               class="text-red delete_icon_blocks has_pk"
                                               name="{{ inline_form.instance.pk }}">
                                                <i class="fa fa-trash" style="font-size:18px;"></i>
                                            </a>
                                            {% else %}
                                            <a href="javascript:void(0)" style="float:right;"
                                               class="delete_icon_blocks text-red">
                                                <i class="fa fa-trash" style="font-size:18px;"></i>
                                            </a>
                                            {% endif %}
                                        </h4>
                                        {% if inline_form.instance.image %}
                                        <img src="{{ inline_form.instance.image.url }}" alt
                                             class="near_img preview_img">
                                        {% else %}
                                        <img src="{% static 'img/default_form_image.png' %}" alt
                                             class="near_img preview_img">
                                        {% endif %}
                                        <label for="" style="margin-top:10px;">Рекомендуемый размер:
                                            (650x300) </label>
                                        <div class="form-group">
                                            {{ inline_form.image }}
                                        </div>
                                        <div class="form-group">
                                            <label for="">Подпись</label>
                                            {{ inline_form.title }}
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>

                                <div class="row border_bottom" style="margin-top:30px;">
                                    <div class="col-12">
                                        <h5>Настройки SEO</h5>
                                    </div>
                                </div>

                                <div class="row" style="margin-top:20px;">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="seo_title">Title</label>
                                            {{ form.seo_title }}
                                        </div>
                                        <div class="form-group">
                                            <label for="seo_description">Description</label>
                                            {{ form.seo_description }}
                                        </div>
                                        <div class="form-group">
                                            <label for="seo_keywords">Keywords</label>
                                            {{ form.seo_keywords }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top:15px;">
                                    <div class="col-12 text-center">
                                        <a href="{% url 'admin_panel:tariff_page' %}" class="btn btn-default">Отмена</a>
                                        <button type="button" class="btn btn-success" id="add_formset">Добавить тариф
                                        </button>
                                        <button type="submit" class="btn btn-success">Сохранить</button>
                                    </div>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'bootstrap/jquery/jquery.min.js' %}"></script>
<script src="{% static 'utils/update_img_after_upload.js' %}"></script>
<script src="{% static 'utils/dynamic_formset.js' %}"></script>
<script>
    tinymce.init({
        selector: '.block_desc'
      });
    tinymce.init({
        selector: '#description'
      });
</script>
<script>
// init formset cloner
    let formset_cloner = new AdvancedFormsetClonerWithCounter('blocks', '.formset', "{% url 'admin_panel:delete_tariff_block' %}");
    formset_cloner.init();
    $('#add_formset').on('click', function(){
        formset_cloner.clone();
        this.blur();
    })
</script>
{% endblock %}
