{% extends "admin_base.html" %}
{% load static %}
{% load beautify_line %}

{% block title %}Лицевые счета{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'admin_panel/plugins/select2/css/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'admin_panel/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">
{% endblock %}


{% block content %}
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2 border_bottom" style="align-items: center;">
                <div class="col-sm-6">
                    <h1 class="m-0">Лицевые счета</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <nav aria-label="breadcrumb" class="breadcrumb_pull_right">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'admin_panel:index' %}" style="color: black;">
                                <i class="fa fa-home"></i> Главная</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Лицевые счета</li>
                        </ol>
                    </nav>
                </div>
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>


    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-9">
                  <div class="row">
                    <div class="col-12 col-md-4">
                      <div class="small-box bg-green overflow-hidden">
                        <div class="inner">
                            <h3>{{ statistic.total_cash }} грн</h3>
                            <p>Состояние кассы</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-dollar-sign"></i>
                        </div>
                      <!--<span class="small-box-footer">&nbsp;</span>-->
                      </div>
                    </div>
                    <div class="col-12 col-md-4">
                      <div class="small-box bg-blue overflow-hidden">
                        <div class="inner">
                            <h3>{{ statistic.total_account_balance }} грн</h3>
                            <p>Баланс по счетам</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-dollar-sign"></i>
                        </div>
                      <!--<span class="small-box-footer">&nbsp;</span>-->
                      </div>
                    </div>
                    <div class="col-12 col-md-4">
                      <div class="small-box bg-red overflow-hidden">
                        <div class="inner">
                            <h3>{{ statistic.total_debt }} грн</h3>
                            <p>Задолженность по счетам</p>
                        </div>
                        <div class="icon">
                             <i class="fas fa-dollar-sign"></i>
                        </div>
                        <!--<span class="small-box-footer">&nbsp;</span>-->
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-12 col-lg-3">
                   <button class="btn btn-success dropdown-toggle breadcrumb_pull_right" type="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Выберите действие
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'admin_panel:create_account_admin' %}">Добавить лицевой счет</a>
                        <a class="dropdown-item" href="#">Выгрузить в Excel</a>
                    </div>
                </div>
                <div class="col-12" style="margin-top:15px;">
                    <div class="card card-default">
                        <div class="card-header">
                            <a href="{% url 'admin_panel:list_accounts_admin' %}" class="btn btn-default"
                            style="float:right;">Очистить</a>
                        </div>
                        <div class="card-body card-body table-responsive p-0">
                            <form action="" method="get">
                                {% csrf_token %}
                            <table class="table table-hover table-striped text-nowrap linkedRow">
                                <thead>
                                <tr>
                                    <th style="width: 125px; min-width: 125px">#</th>
                                    <th>Статус</th>
                                    <th>Квартира</th>
                                    <th>Дом</th>
                                    <th>Секция</th>
                                    <th>Владелец</th>
                                    <th style="width: 125px; min-width: 125px">Остаток(грн)</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        {{ form.number }}
                                    </td>
                                    <td>
                                        {{ form.status }}
                                    </td>
                                    <td>
                                        {{ form.flat }}
                                    </td>
                                    <td>
                                        {{ form.house }}
                                    </td>
                                    <td>
                                        {{ form.section }}
                                    </td>
                                    <td>
                                        {{ form.user }}
                                    </td>
                                    <td>
                                        {{ form.debt }}
                                    </td>
                                    <td></td>
                                </tr>

                                {% for account in instances %}
                                <tr>
                                    <td><a href="{% url 'admin_panel:detail_account_admin' account.pk %}">{{ account.number }}</a></td>
                                    <td class="text-center">
                                        {% if account.status == 0 %}
                                        <small class="label label-success">Активен</small>
                                        {% else %}
                                        <small class="label label-danger">Неактивен</small>
                                        {% endif %}
                                    </td>
                                    <td><a href="{% url 'admin_panel:detail_account_admin' account.pk %}">
                                        {{ account.flat|filter_none }}
                                    </a></td>
                                    <td><a href="{% url 'admin_panel:detail_account_admin' account.pk %}">{{ account.house|filter_none }}</a></td>
                                    <td><a href="{% url 'admin_panel:detail_account_admin' account.pk %}">{{ account.section|filter_none }}</a></td>
                                    <td>
                                        {% if account.flat.owner %}
                                            <a href="{% url 'admin_panel:detail_owner_admin' account.flat.owner.pk %}"
                                            style="color: #007bff;">{{ account.flat.owner.full_name|filter_none }}</a>
                                        {% else %}
                                            Не указано
                                        {% endif %}
                                    </td>
                                    <td><a href="{% url 'admin_panel:detail_account_admin' account.pk %}">
                                        <span class="debt_integer">{{ account.get_account_balance }}</span>
                                    </a></td>
                                    <td>
                                        <div class="btn-group">
                                            <a class="btn btn-default btn-sm"
                                               href="{% url 'admin_panel:update_account_admin' account.pk %}">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                            <a class="btn btn-default btn-sm delete_instances"
                                               href="{% url 'admin_panel:delete_account_admin' account.pk %}">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="8">Ничего не найдено</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            </form>
                        </div>
                        <div class="card-footer">
                            Количество счетов: <strong>{{ count }}</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'bootstrap/jquery/jquery.min.js' %}"></script>
<script src="{% static 'admin_panel/js/utils.js' %}"></script>
<script src="{% static 'admin_panel/js/requests.js' %}"></script>
<script>
    $(document).ready(function(){
        $('#id_house').select2({
            theme: 'bootstrap4',
            width: '100%',
        });
        $('#id_user').select2({
            theme: 'bootstrap4',
            width: '100%',
        });
        submit_form_after_keypress();

        $('.debt_integer').each(function(){
            const value = parseFloat($(this).text());
            if(value > 0){
                $(this).addClass('text-success');
            }
            if(value < 0){
                $(this).addClass('text-danger');
            }
        })

        let value = $('select[name=house]').find(':selected').val();
        update_select(element=$('#id_section'), url="{% url 'rest_api:get_section_list' %}", parent_pk=value,
                          constructor=append_select_section_floor);

        $('select[name=house]').on('change', function(){
            let value = $(this).find(':selected').val();
            update_select(element=$('#id_section'), url="{% url 'rest_api:get_section_list' %}", parent_pk=value,
                          constructor=append_select_section_floor);
        })
        confirm_deleting();
    })
</script>
{% endblock %}
