{% extends 'admin_base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans 'Chat' %}{% endblock %}

{% block content %}
	<div class="content-wrapper">
		<div class="content-header">
			<div class="container-fluid">
				<div class="row mb-2 border_bottom" style="align-items: center;">
					<div class="col-sm-6">
						<h1 class="m-0">{{ to_user.full_name }}</h1>
					</div><!-- /.col -->
					<div class="col-sm-6">
						<nav aria-label="breadcrumb" class="breadcrumb_pull_right">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="{% url 'admin_panel:index' %}" style="color: black;">
									<i class="fa fa-home"></i> {% trans 'Home' %}</a></li>
								<li class="breadcrumb-item">
									<a href="{% url 'admin_panel:list_chats_admin' %}" style="color: black;">{% trans 'Chats' %}</a>
								</li>
								<li class="breadcrumb-item active" aria-current="page">{% trans 'Chat' %}</li>
							</ol>
						</nav>
					</div>
				</div>
			</div><!-- /.container-fluid -->
		</div>

		{% include 'chat/detail_chat_mixin.html' with messages=messages to_user=to_user for_admin=True %}
	</div>
{% endblock %}
{% block chat_script %}
	{% include 'chat/detail_chat_script_mixin.html' with to_user=to_user %}
{% endblock %}
