{% load static %}
<script>
    const CHAT_PATH = '{{ chat_path }}';
    const CHAT_UUID = '{{ chat.chat_uuid }}';
    const msgerForm = $('.msger-inputarea');
    const msgerInput = $('.msger-input');
    const msgerChat = $('.msger-chat');

    const TO_USER_IMG = "{{ to_user.photo_url }}";
    const FROM_USER_IMG = "{{ request.user.photo_url }}";
    const TO_USER_NAME = "{{ to_user.full_name }}";
    const TO_USER_UUID = '{{ to_user.uuid }}';
    const FROM_USER_NAME = "{{ request.user.full_name }}";
    const FROM_USER_UUID  = '{{ request.user.uuid }}';

    $(document).ready(function(){
        const socket = io(CHAT_PATH);
        msgerChat.scrollTop(msgerChat[0].scrollHeight);
        msgerChat.focus();

        socket.on('connect', function(){
            socket.emit('connect_event', {'chat_uuid': CHAT_UUID, 'user_uuid': TO_USER_UUID});
            socket.emit('set_messages_as_read', {'chat_uuid': CHAT_UUID, 'user_uuid': TO_USER_UUID})
        })

        socket.on('client_info_handler', function(data){
            if(data['success'] === true){
                console.log('Connected')
            }else{
                console.log('Not connected')
            }
        })

        socket.on('client_message_handler', function(data){
            const msgText = data['text'];
            if(data['from_user'] === FROM_USER_UUID){
                appendMessage(FROM_USER_NAME, FROM_USER_IMG, 'right', msgText);
            }else{
                appendMessage(TO_USER_NAME, TO_USER_IMG, "left", msgText);
            	socket.emit('set_single_message_as_read', {'message_id': data['message_id']})
            }
        })

        $(msgerForm).on('submit', function(event){
            event.preventDefault();
            const msgText = msgerInput.val();
            if (!msgText) return;

            socket.emit('send_message', {'from_user': FROM_USER_UUID, 'to_user': TO_USER_UUID, 'text': msgText});
            msgerInput.val("");
        })

    })

    function appendMessage(name, img, side, text) {
        //   Simple solution for small apps
        const msgHTML = `
    <div class="msg ${side}-msg">
      <div class="msg-img" style="background-image: url(${img})"></div>

      <div class="msg-bubble">
        <div class="msg-info">
          <div class="msg-info-name">${name}</div>
          <div class="msg-info-time">${formatDate(new Date())}</div>
        </div>

        <div class="msg-text">${text}</div>
      </div>
    </div>
  `;

        msgerChat.append(msgHTML);
        msgerChat.scrollTop(msgerChat.scrollTop() + 500);
    }

    // Utils

    function formatDate(date) {
        const h = "0" + date.getHours();
        const m = "0" + date.getMinutes();

        return `${h.slice(-2)}:${m.slice(-2)}`;
    }

</script>
