{% extends "admin_base.html" %}
{% load static %}

{% block title %}Сообщения{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'admin_panel/plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}">
{% endblock %}

{% block content %}
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2 border_bottom" style="align-items: center;">
                <div class="col-sm-6">
                    <h1 class="m-0">Сообщения</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <nav aria-label="breadcrumb" class="breadcrumb_pull_right">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'admin_panel:index' %}" style="color: black;">
                                <i class="fa fa-home"></i> Главная</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Сообщения</li>
                        </ol>
                    </nav>
                </div>
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <a href="{% url 'admin_panel:create_message_admin' %}" class="btn btn-success" style="float:right;">Отправить сообщение</a>
                </div>
            </div>
            <div class="card card-default" style="margin-top: 30px;">
                <div class="card-header">
                    <form action="" method="get">
                        {% csrf_token %}
                        <div style="float:right;">
                            <div class="input-container">
                                    {{ form.text }}
                                    <span class="fas fa-search form-control-feedback"></span>
                                </div>
                        </div>
                    </form>
                </div>
                <div class="card-body table-responsive">
                    <div class="row">
                        <div class="col-12">
                            <button type="button" class="btn btn-default btn-sm checkbox-toggle">
                                <i class="far fa-square"></i>
                            </button>
                            <button type="button" class="btn btn-default btn-sm delete_toggle">
                                <i class="far fa-trash-alt"></i>
                            </button>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-12">
                            <div>
                                <table class="table table-hover table-striped text-nowrap">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Получатели</th>
                                            <th>Текст</th>
                                            <th>Дата</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if not instances and not invites %}
                                            <tr>
                                                <td colspan="4">Ничего не найдено</td>
                                            </tr>
                                        {% else %}
                                            {% for message in instances %}
                                                    <tr>
                                                        <td>
                                                            <div class="icheck-primary d-inline">
                                                                <input type="checkbox" id="checkboxPrimary-{{ forloop.counter }}"
                                                                class="delete_checkbox">
                                                                <label for="checkboxPrimary-{{ forloop.counter }}">
                                                                </label>
                                                            </div>
                                                            <input type="hidden" value="{{ message.pk }}" class="message_pk">
                                                        </td>
                                                        <td>
                                                             {% if message.message_recipient %}
                                                                {% if message.house %}
                                                                <a href="{% url 'admin_panel:detail_house_admin' message.house.pk %}">{{ message.house }}</a>
                                                                {% endif %}
                                                                {% if message.section %},
                                                                <a href="{% url 'admin_panel:detail_house_admin' message.house.pk %}">{{ message.section }}</a>
                                                                {% endif %}
                                                                {% if message.floor %},
                                                                <a href="{% url 'admin_panel:detail_house_admin' message.house.pk %}">{{ message.floor }}</a>
                                                                {% endif %}
                                                                {% if message.flat %},
                                                                <a href="{% url 'admin_panel:detail_flat_admin' message.flat.pk %}">Квартира №{{ message.flat }}</a>
                                                                {% endif %}
                                                            {% elif message.owner %}
                                                                <a href="{% url 'admin_panel:detail_owner_admin' message.owner.pk %}">{{ message.owner }}</a>
                                                            {% else %}
                                                                Всем
                                                            {% endif %}
                                                        </td>
                                                        <td>
                                                            <a href="{% url 'admin_panel:detail_message_admin' message.pk %}">
                                                                <strong style="color: black!important;">{{ message.title }}</strong> -
                                                                {{ message.text|safe|striptags|truncatewords:10 }}
                                                            </a>
                                                        </td>
                                                        <td><a href="{% url 'admin_panel:detail_message_admin' message.pk %}">{{ message.created }}</a></td>
                                                    </tr>
                                            {% endfor %}
                                            {% for invite in invites %}
                                                <tr>
                                                    <td>
                                                        <div class="icheck-primary d-inline">
                                                                <input type="checkbox" id="checkboxPrimary-{{ forloop.counter }}"
                                                                class="delete_checkbox">
                                                                <label for="checkboxPrimary-{{ forloop.counter }}">
                                                                </label>
                                                        </div>
                                                        <input type="hidden" value="{{ invite.pk }}" class="message_pk">
                                                    </td>
                                                    <td>
                                                        {{ invite.phone }}
                                                    </td>
                                                    <td>{{ invite.text }}</td>
                                                    <td>{{ invite.created }}</td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer">
                                <div class="row" style="align-items:center;">
                                    <div class="col-12">
                                        {% include "pagination.html" with page=instances %}
                                    </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 5px;">
                        <div class="col-12">
                            <button type="button" class="btn btn-default btn-sm checkbox-toggle">
                                <i class="far fa-square"></i>
                            </button>
                            <button type="button" class="btn btn-default btn-sm delete_toggle">
                                <i class="far fa-trash-alt"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'bootstrap/jquery/jquery.min.js' %}"></script>
<script src="{% static 'admin_panel/js/checkbox_toggle.js' %}"></script>
<script src="{% static 'admin_panel/js/utils.js' %}"></script>
<script>
    $(document).ready(function(){
        submit_form_after_keypress();

        $('.checkbox-toggle').each(function(){
            $(this).on('click', function(){
                if($(this).hasClass('checked')){
                    $('.delete_checkbox').each(function(){
                        $(this).prop('checked', false);
                    })
                    setCheckboxesToggleIcon(false);
                    $(this).removeClass('checked')
                }else{
                    $('.delete_checkbox').each(function(){
                        $(this).prop('checked', true);
                    })
                    setCheckboxesToggleIcon(true);
                    $(this).addClass('checked');
                }
            })
        })
        $('.delete_toggle').each(function(){
            $(this).on('click', function(){
                if(confirm('Вы уверены что хотите удалить эти сообщения?')){
                    let result = [];
                    $('input[type=checkbox]:checked').each(function(){
                        result.push($(this).closest('tr').find('.message_pk').val());
                    })
                    $.ajax({
                        url: '{% url "admin_panel:delete_messages_admin" %}',
                        type: 'GET',
                        data: {'pk': JSON.stringify(result)},
                    })
                    .done(function() {
                        window.location.reload();
                    })
                }
            })
        })
})
    function setCheckboxesToggleIcon(status){
        $('.checkbox-toggle').each(function(){
            if(status){
                $(this).find('i').removeClass('fa-square');
                $(this).find('i').addClass('fa-check-square');
            }else{
                $(this).find('i').removeClass('fa-check-square');
                $(this).find('i').addClass('fa-square');
            }
        })
    }
</script>
{% endblock %}