{% extends "admin_base.html" %}
{% load static %}

{% block title %}Статьи приходов/расходов{% endblock %}


{% block content %}
{% if form.errors %}
{% include 'errors.html' with errors=form.errors %}
{% endif %}
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2 border_bottom" style="align-items: center;">
                <div class="col-sm-6">
                    <h1 class="m-0">Статьи приходов/расходов</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <nav aria-label="breadcrumb" class="breadcrumb_pull_right">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'admin_panel:index' %}" style="color: black;">
                                <i class="fa fa-home"></i> Главная</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Статьи приходов/расходов</li>
                        </ol>
                    </nav>
                </div>
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>


    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <a href="{% url 'admin_panel:create_payment_item_admin' %}" class="btn btn-success" style="float: right;">Добавить
                        статью</a>
                </div>
                <div class="col-12" style="margin-top:15px;">
                    <div class="card card-default">
                        <div class="card-body card-body table-responsive p-0">
                            <table class="table table-hover table-striped text-nowrap linkedRow">
                                <thead>
                                <tr>
                                    <th>Название</th>
                                    <th>Приход/расход</th>
                                    <th style="width: 40px"></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in items %}
                                <tr>
                                    <td><a href="{% url 'admin_panel:update_payment_item_admin' item.pk %}">{{ item.name }}</a></td>
                                    <td><a href="{% url 'admin_panel:update_payment_item_admin' item.pk %}">{{ item.get_type_display }}</a></td>
                                    <td>
                                        <div class="btn-group">
                                            <a class="btn btn-default btn-sm" href="{% url 'admin_panel:update_payment_item_admin' item.pk %}">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                            <a class="btn btn-default btn-sm" href="{% url 'admin_panel:delete_payment_item_admin' item.pk %}">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="3">Ничего не найдено</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer">
                            <div class="row" style="align-items:center;">
                                <div class="col-12">
                                    {% include "pagination.html" with page=page_obj %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'bootstrap/jquery/jquery.min.js' %}"></script>
{% endblock %}
