{% extends "admin_base.html" %}
{% load static %}

{% block title %}Новый пользователь{% endblock %}

{% block content %}
{% if form.errors %}
{% include 'errors.html' with errors=form.errors %}
{% endif %}
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2 border_bottom" style="align-items: center;">
                <div class="col-sm-6">
                    <h1 class="m-0">
                        {% if form.instance.pk %}
                        Пользователь
                        {% else %}
                        Новый пользователь
                        {% endif %}
                    </h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <nav aria-label="breadcrumb" class="breadcrumb_pull_right">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'admin_panel:index' %}" style="color: black;">
                                <i class="fa fa-home"></i> Главная</a></li>
                            <li class="breadcrumb-item">
                                <a href="{% url 'admin_panel:list_users_admin' %}"
                                   style="color: black;">Пользователи</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Новый пользователь</li>
                        </ol>
                    </nav>
                </div>
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>


    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12" style="margin-top:15px;">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="card card-default">

                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <label for="first_name">Имя</label>
                                            {{ form.first_name }}
                                        </div>
                                        <div class="form-group">
                                            <label for="last_name">Фамилия</label>
                                            {{ form.last_name }}
                                        </div>
                                        <div class="form-group">
                                            <label for="phone">Телефон</label>
                                            {{ form.phone_number }}
                                        </div>
                                        <div class="form-group">
                                            <label for="role">Роль</label>
                                            {{ form.role }}
                                        </div>
                                        <div class="form-group">
                                            <label for="status">Статус</label>
                                            {{ form.status }}
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <label for="email">Email(логин)</label>
                                            {{ form.email }}
                                        </div>
                                        <div class="form-group">
                                            <label for="password1">Пароль</label>
                                            <div class="input_group">
                                                {{ form.password1 }}
                                                <div class="delete_input">
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default" id="generate_pass">Сгенерировать</button>
                                                        <button type="button" class="btn btn-primary" id="open_button"><i class="fas fa-eye" id="eye_icon"></i></button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="password2">Повторите пароль</label>
                                            {{ form.password2 }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row" style="margin-top:15px; margin-bottom: 15px;">
                                <div class="col-12 text-center">
                                    <a href="{% url 'admin_panel:list_users_admin' %}"
                                       class="btn btn-default">Отмена</a>
                                    <button type="submit" class="btn btn-success">Сохранить</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'bootstrap/jquery/jquery.min.js' %}"></script>
<script src="{% static 'admin_panel/js/generate_password.js' %}"></script>
<script src="{% static 'admin_panel/js/colorize_input.js' %}"></script>
<script>
    $('.to_valid').each(function(){
        $(this).on('change', function(){
            if($(this).val() != ''){
                colorize_input_valid(this);
            }else{
                colorize_input_invalid(this);
            }
        })
    })

</script>
<script>
    $('button[type=submit]').on('click', function(e){
        $('.to_valid').each(function(){
            if($(this).val() == '' && $(this).attr('required')){
                e.preventDefault();
                colorize_input_invalid(this);
            }
        })
    })
</script>
<script>
    $('#generate_pass').on('click', function(){
        let value = generatePassword();
        $('#password1').val(value);
        $('#password2').val(value);
        colorize_input_valid('#password1');
        colorize_input_valid('#password2');
    })
    $('#open_button').on('click', function(){
        let pass_input = $('#password1');
        if($(pass_input).prop('type') == 'password'){
            $(pass_input).prop('type', 'text');
            $('#password2').prop('type', 'text');
            $('#eye_icon').removeClass('fa-eye');
            $('#eye_icon').addClass('fa-eye-slash');
        }else{
            $(pass_input).prop('type', 'password');
            $('#password2').prop('type', 'password');
            $('#eye_icon').removeClass('fa-eye-slash');
            $('#eye_icon').addClass('fa-eye');
        }
    })
</script>
{% endblock %}
