{% extends "admin_base.html" %}
{% load static %}
{% load beautify_line %}
{% load i18n %}

{% block title %}{% trans 'Roles' %}{% endblock %}


{% block content %}
{% if roles.errors %}
{% include 'errors.html' with errors=roles.errors|prepare_error_message %}
{% endif %}
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2 border_bottom" style="align-items: center;">
                <div class="col-sm-6">
                    <h1 class="m-0">{% trans 'Roles' %}</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <nav aria-label="breadcrumb" class="breadcrumb_pull_right">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'admin_panel:index' %}" style="color: black;">
                                <i class="fa fa-home"></i> {% trans 'Home' %}</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{% trans 'Roles' %}</li>
                        </ol>
                    </nav>
                </div>
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>


    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12" style="margin-top:15px;">
                    <div class="card card-default">
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="card-body card-body table-responsive p-0">
                                <table class="table table-hover table-striped text-nowrap linkedRow">
                                    <thead>
                                    <tr>
                                        <th>{% trans 'Role' %}</th>
                                        <th>{% trans 'Statistics' %}</th>
                                        <th>{% trans 'Cash' %}</th>
                                        <th>{% trans 'Receipts' %}</th>
                                        <th>{% trans 'Accounts' %}</th>
                                        <th>{% trans 'Flats' %}</th>
                                        <th>{% trans 'Owners' %}</th>
                                        <th>{% trans 'House' %}а</th>
                                        <th>{% trans 'Messages' %}</th>
                                        <th>{% trans 'Master requests' %}</th>
                                        <th>{% trans 'Meters' %}</th>
                                        <th>{% trans 'Site management' %}</th>
                                        <th>{% trans 'Services' %}</th>
                                        <th>{% trans 'Tariffs' %}</th>
                                        <th>{% trans 'Roles' %}</th>
                                        <th>{% trans 'Users' %}</th>
                                        <th>{% trans 'Payment credentials' %}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {{ roles.management_form }}
                                    {% for role in roles %}
                                            {% for hidden in role.hidden_fields %}
                                                {{ hidden }}
                                            {% endfor %}
                                    <tr>
                                        <td>{{ role.instance.name }}</td>
                                        <td class="text-center">
                                            <div class="form-group form-check">
                                                {{ role.statistic }}
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="form-group form-check">
                                                {{ role.account_transaction }}
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="form-group form-check">
                                                {{ role.ticket }}
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="form-group form-check">
                                                {{ role.personal_account }}
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="form-group form-check">
                                                {{ role.flats }}
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="form-group form-check">
                                                {{ role.owners }}
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="form-group form-check">
                                                {{ role.houses }}
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="form-group form-check">
                                                {{ role.messages }}
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="form-group form-check">
                                                {{ role.master_request }}
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="form-group form-check">
                                                {{ role.meters }}
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="form-group form-check">
                                                {{ role.site_control }}
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="form-group form-check">
                                                {{ role.services }}
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="form-group form-check">
                                                {{ role.tariffs }}
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="form-group form-check">
                                                {{ role.roles }}
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="form-group form-check">
                                                {{ role.users }}
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div class="form-group form-check">
                                                {{ role.credentials }}
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                            </div>
                            <div class="row" style="margin-top:15px; margin-bottom: 15px; margin-right:15px;">
                                <div class="col-12">
                                    <div style="float:right;">
                                        <a href="{% url 'admin_panel:list_roles_admin' %}"
                                           class="btn btn-default">{% trans 'Cancel' %}</a>
                                        <button type="submit" class="btn btn-success">{% trans 'Save' %}</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'bootstrap/jquery/jquery.min.js' %}"></script>
{% endblock %}
