{% extends "admin_base.html" %}
{% load static %}
{% load right_date %}
{% load beautify_line %}

{% block title %}Печатная форма документа{% endblock %}

{% block content %}
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2 border_bottom" style="align-items: center;">
                <div class="col-sm-6">
                    <h1 class="m-0">
                        Печатная форма документа
                    </h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <nav aria-label="breadcrumb" class="breadcrumb_pull_right">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'admin_panel:index' %}" style="color: black;">
                                <i class="fa fa-home"></i>Главная</a></li>
                            <li class="breadcrumb-item">
                                <a href="{% url 'admin_panel:list_payment_ticket_admin' %}"
                                   style="color: black;">Квитанции</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                <a href="{% url 'admin_panel:detail_payment_ticket_admin' ticket.pk %}"
                                   style="color: black;">Квитанция #{{ ticket.number }}</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Печатная форма документа</li>
                        </ol>
                    </nav>
                </div>
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>


    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12" style="margin-top:15px;">
                    <div class="card card-default">
                        <div class="card-header">
                            <h3 style="display: inline-block; margin: 0;">Список шаблонов</h3>
                            <a href="{% url 'admin_panel:payment_ticket_template_settings' %}" class="btn btn-default btn-sm"
                               style="float:right; margin-left:5px;">
                                Настройка шаблона
                            </a>
                        </div>
                        <form action="{% url 'admin_panel:payment_ticket_render_pdf' %}" method="get">
                            {% csrf_token %}
                            <div class="card-body">
                                <div class="row">
                                    <input type="hidden" name="ticket_pk" value="{{ ticket.pk }}">
                                    <div class="col-12">
                                        {% for inst in instances %}
                                            <div class="form-group form-check">
                                                <input type="radio" class="form-check-input" name="html_template"
                                                {% if inst.is_default %}checked{% endif %} value="{{ inst.pk }}">
                                                <label for="" class="form-check-label">{{ inst.name }}</label>
                                            </div>
                                        {% empty %}
                                        <h5>Нет шаблонов</h5>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group" style="float:right;">
                                             <button class="btn btn-success" name="download" type="submit">Скачать</button>
                                            <button class="btn btn-default" name="send" type="submit">Отправить на e-mail</button>
                                        </div>
                                    </div>
                                 </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'bootstrap/jquery/jquery.min.js' %}"></script>
{% endblock %}
