{% extends "admin_base.html" %}
{% load static %}
{% load beautify_line %}

{% block title %}Квитанции на оплату{% endblock %}


{% block content %}
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2 border_bottom" style="align-items: center;">
                <div class="col-sm-6">
                    <h1 class="m-0">Квитанции на оплату</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <nav aria-label="breadcrumb" class="breadcrumb_pull_right">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'admin_panel:index' %}" style="color: black;">
                                <i class="fa fa-home"></i> Главная</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Квитанции на оплату</li>
                        </ol>
                    </nav>
                </div>
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>


    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-9">
                  <div class="row">
                    <div class="col-12 col-md-4">
                      <div class="small-box bg-green overflow-hidden">
                        <div class="inner">
                            <h3>000000 грн</h3>
                            <p>Состояние кассы</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-dollar-sign"></i>
                        </div>
                      <!--<span class="small-box-footer">&nbsp;</span>-->
                      </div>
                    </div>
                    <div class="col-12 col-md-4">
                      <div class="small-box bg-blue overflow-hidden">
                        <div class="inner">
                            <h3>000000 грн</h3>
                            <p>Баланс по счетам</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-dollar-sign"></i>
                        </div>
                      <!--<span class="small-box-footer">&nbsp;</span>-->
                      </div>
                    </div>
                    <div class="col-12 col-md-4">
                      <div class="small-box bg-red overflow-hidden">
                        <div class="inner">
                            <h3>0000000 грн</h3>
                            <p>Задолженность по счетам</p>
                        </div>
                        <div class="icon">
                             <i class="fas fa-dollar-sign"></i>
                        </div>
                        <!--<span class="small-box-footer">&nbsp;</span>-->
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-12 col-lg-3">
                   <button class="btn btn-success dropdown-toggle breadcrumb_pull_right" type="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Выберите действие
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'admin_panel:create_payment_ticket_admin' %}">Создать общую квитанцию</a>
                        <button class="dropdown-item" type="button" id="delete_mass">Удалить</button>
                    </div>
                </div>
                <div class="col-12" style="margin-top:15px;">
                    <div class="card card-default">
                        <div class="card-body card-body table-responsive p-0">
                            <table class="table table-hover table-striped text-nowrap linkedRow">
                                <thead>
                                <tr>
                                    <th style="padding: 10px;">
                                        <input type="checkbox" id="main_checkbox">
                                    </th>
                                    <th>№ квитанции</th>
                                    <th>Статус</th>
                                    <th>Дата</th>
                                    <th>Месяц</th>
                                    <th>Квартира</th>
                                    <th>Владелец</th>
                                    <th>Проведена</th>
                                    <th>Сумма(грн)</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td></td>
                                    <td>
                                        {{ form.number }}
                                    </td>
                                    <td>
                                        {{ form.status }}
                                    </td>
                                    <td>
                                        {{ form.date }}
                                    </td>
                                    <td>
                                        {{ form.month }}
                                    </td>
                                    <td>
                                        {{ form.flat }}
                                    </td>
                                    <td>
                                        {{ form.owner }}
                                    </td>
                                    <td>
                                        {{ form.is_done }}
                                    </td>
                                    <td></td>
                                    <td></td>
                                </tr>

                                {% for ticket in instances %}
                                <tr>
                                    <td style="padding: 10px;">
                                        <input type="checkbox" class="delete_checkbox">
                                    </td>
                                    <td><a href="{% url 'admin_panel:detail_payment_ticket_admin' ticket.pk %}">{{ ticket.number }}</a>
                                    <span class="ticket_pk" style="display:none;">{{ ticket.pk }}</span></td>
                                    <td class="text-center">
                                        {% if account.status == 0 %}
                                        <a href="{% url 'admin_panel:detail_payment_ticket_admin' ticket.pk %}">
                                            <small class="label label-success">Оплачена</small>
                                        </a>
                                        {% elif account.status == 1 %}
                                        <a href="{% url 'admin_panel:detail_payment_ticket_admin' ticket.pk %}">
                                            <small class="label label-warning">Частично оплачена</small>
                                        </a>
                                        {% else %}
                                        <a href="{% url 'admin_panel:detail_payment_ticket_admin' ticket.pk %}">
                                            <small class="label label-danger">Неоплачена</small>
                                        </a>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="{% url 'admin_panel:detail_payment_ticket_admin' ticket.pk %}">
                                        {{ ticket.ticket_date|filter_none }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{% url 'admin_panel:detail_payment_ticket_admin' ticket.pk %}">
                                        {{ ticket.ticket_month|filter_none }}
                                        </a>
                                    </td>
                                    <td>{% if ticket.flat %}
                                            {{ ticket.flat }}, {{ ticket.flat.house }}
                                        {% else %}
                                            Не указано
                                        {% endif %}
                                    </td>
                                    <td>{{ ticket.flat.owner|filter_none }}</td>
                                    <td>
                                        {% if ticket.is_done %}
                                            Проведена
                                        {% else %}
                                            Не проведена
                                        {% endif %}
                                    </td>
                                    <td>{{ ticket.sum|filter_none }}</td>
                                    <td>
                                        <div class="btn-group">
                                            <a class="btn btn-default btn-sm"
                                               href="{% url 'admin_panel:duplicate_payment_ticket' ticket.pk %}">
                                                <i class="fa fa-clone"></i>
                                            </a>
                                            <a class="btn btn-default btn-sm"
                                               href="{% url 'admin_panel:update_payment_ticket_admin' ticket.pk %}">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                            <a class="btn btn-default btn-sm"
                                               href="{% url 'admin_panel:delete_payment_ticket_admin' ticket.pk %}">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'bootstrap/jquery/jquery.min.js' %}"></script>
<script src="{% static 'admin_panel/js/checkbox_toggle.js' %}"></script>
<script>
    $('.search_form').each(function(){
        $(this).on('change', function(){
            $(this).submit();
        })
    })
    $('#main_checkbox').on('change', function(){
        setCheckbox(this);
    })
</script>
<script>
    $('#delete_mass').on('click', function(){
        let result = []
        $('.delete_checkbox:checked').each(function(){
            result.push($(this).closest('tr').find('.ticket_pk').text());
        });
        $.ajax({
            url: '{% url "admin_panel:bulk_delete_payment_tickets" %}',
            type: 'GET',
            data: {'pk': JSON.stringify(result)},
        })
        .done(function(response) {
            window.location.reload();
        })
        .fail(function(){
            confirm('Неправильно выбранные данные.');
        })
    })
</script>
{% endblock %}
