{% extends "admin_base.html" %}
{% load static %}
{% load right_date %}
{% load beautify_line %}
{% load i18n %}

{% block title %}
	{% if transaction.payment_item_type.type == 0 %}
		{% trans 'Income' %}
	{% else %}
		{% trans 'Outcome' %}
	{% endif %}
{% endblock %}

{% block content %}
	<div class="content-wrapper">
		<div class="content-header">
			<div class="container-fluid">
				<div class="row mb-2 border_bottom" style="align-items: center;">
					<div class="col-sm-6">
						<h1 class="m-0">
							{% if transaction.payment_item_type.type == 0 %}
								{% trans 'Income' %}
							{% else %}
								{% trans 'Outcome' %}
							{% endif %}
						</h1>
					</div><!-- /.col -->
					<div class="col-sm-6">
						<nav aria-label="breadcrumb" class="breadcrumb_pull_right">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="{% url 'admin_panel:index' %}" style="color: black;">
									<i class="fa fa-home"></i>{% trans 'Home' %}</a></li>
								<li class="breadcrumb-item">
									<a href="{% url 'admin_panel:list_account_transaction_admin' %}"
									   style="color: black;">{% trans 'Payments' %}</a>
								</li>
								<li class="breadcrumb-item active" aria-current="page">
									{% if transaction.payment_item_type.type == 0 %}
										{% trans 'Income' %}
									{% else %}
										{% trans 'Outcome' %}
									{% endif %}
									 №{{ transaction.number }}
								</li>
							</ol>
						</nav>
					</div>
				</div><!-- /.row -->
			</div><!-- /.container-fluid -->
		</div>


		<div class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-12 col-md-7 col-lg-6">
						<div class="page-header">
							<div class="form-group" style="margin: 0; flex-basis: 45%;">
								<div class="input-group">
									<div class="input-group-addon to_valid">
										№
									</div>
									<input type="text" class="form-control"
										   value="{{ transaction.number }}" disabled>
								</div>
							</div>
							<span style="margin: 0 15px;">от</span>
							<div class="form-group" style="margin: 0; flex-basis: 45%;">
								<div class="input-group">
									<input type="date" class="form-control" value="{{ transaction.created|valid_date_format }}"
										   disabled>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-12" style="margin-top:15px;">
						<div class="card card-default">
							<div class="card-header">
								<h3 style="display: inline-block; margin: 0;">  {% if transaction.payment_item_type.type == 0 %}
									{% trans 'Income' %}
								{% else %}
									{% trans 'Outcome' %}
								{% endif %}
									</h3>
								<a href="{% url 'admin_panel:download_spreadsheet_concrete_transactions' transaction.pk %}" class="btn btn-default btn-sm"
								   style="float:right; margin-left:5px;">
									{% trans 'Download Excel' %}
								</a>
								<a href="{{ transaction.get_update_url }}"
								   class="btn btn-primary btn-sm"
								   style="float:right; margin-left:5px;">
									{% trans 'Edit' %}
								</a>
								<a href="{% url 'admin_panel:delete_transaction_admin' transaction.pk %}" class="btn btn-default    btn-sm"
								   style="float:right; margin-left:5px;">
									{% trans 'Delete' %}
								</a>
								<a href="{{ transaction.get_duplicate_url }}" class="btn btn-default btn-sm"
								   style="float:right; margin-left:5px;">
									{% trans 'Copy' %}
								</a>
							</div>
							<div class="card-body">
								<div class="row">
									<div class="col-12">
										<div class="table-responsive no-padding">
											<table class="table table-bordered table-striped table-view">
												<tbody>
												<tr>
													<td>{% trans 'Flat owner' %}</td>
													<td>
														{{ transaction.owner|filter_none }}
													</td>
												</tr>
												<tr>
													<td>{% trans 'Account' %}</td>
													<td>
														{{ transaction.personal_account|filter_none }}
													</td>
												</tr>
												<tr>
													<td>{% trans 'Type' %}</td>
													<td>
														{{ transaction.payment_item_type }}
													</td>
												</tr>
												<tr>
													<td>{% trans 'Receipt' %}</td>
													<td>
														{{ transaction.payment_ticket|filter_none }}
													</td>
												</tr>
												<tr>
													<td>{% trans 'Service' %}</td>
													<td>
														{% if transaction.payment_ticket.services %}
															{% for service in transaction.payment_ticket.services.all %}
																{{ service.service }}{% if not forloop.last %},{% endif %}
															{% endfor %}
														{% else %}
															{% trans 'Not specified' %}
														{% endif %}
													</td>
												</tr>
												<tr>
													<td>{% trans 'Manager' %}</td>
													<td>
														{{ transaction.manager|filter_none }}
													</td>
												</tr>
												<tr>
													<td>{% trans 'Sum' %}</td>
													<td>{{ transaction.paid_sum }}</td>
												</tr>
												<tr>
													<td>{% trans 'Comments' %}</td>
													<td class="word_break">{{ transaction.description|filter_none }}</td>
												</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="{% static 'bootstrap/jquery/jquery.min.js' %}"></script>
{% endblock %}
