{% extends "admin_base.html" %}
{% load static %}
{% load beautify_line %}
{% load utils %}

{% block title %}Касса{% endblock %}


{% block content %}
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2 border_bottom" style="align-items: center;">
                <div class="col-sm-6">
                    <h1 class="m-0">Касса</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <nav aria-label="breadcrumb" class="breadcrumb_pull_right">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'admin_panel:index' %}" style="color: black;">
                                <i class="fa fa-home"></i> Главная</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Касса</li>
                        </ol>
                    </nav>
                </div>
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>


    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-9">
                  <div class="row">
                    <div class="col-12 col-md-4">
                      <div class="small-box bg-green overflow-hidden">
                        <div class="inner">
                            <h3>000000 грн</h3>
                            <p>Состояние кассы</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-dollar-sign"></i>
                        </div>
                      <!--<span class="small-box-footer">&nbsp;</span>-->
                      </div>
                    </div>
                    <div class="col-12 col-md-4">
                      <div class="small-box bg-blue overflow-hidden">
                        <div class="inner">
                            <h3>000000 грн</h3>
                            <p>Баланс по счетам</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-dollar-sign"></i>
                        </div>
                      <!--<span class="small-box-footer">&nbsp;</span>-->
                      </div>
                    </div>
                    <div class="col-12 col-md-4">
                      <div class="small-box bg-red overflow-hidden">
                        <div class="inner">
                            <h3>0000000 грн</h3>
                            <p>Задолженность по счетам</p>
                        </div>
                        <div class="icon">
                             <i class="fas fa-dollar-sign"></i>
                        </div>
                        <!--<span class="small-box-footer">&nbsp;</span>-->
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-12 col-lg-3">
                   <button class="btn btn-success dropdown-toggle breadcrumb_pull_right" type="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Выберите действие
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'admin_panel:create_income_admin' %}">Добавить приход</a>
                        <a class="dropdown-item" href="{% url 'admin_panel:create_outcome_admin' %}">Добавить расход</a>
                        <a class="dropdown-item" href="#">Выгрузить в Excel</a>
                    </div>
                </div>
                <div class="col-12" style="margin-top:15px;">
                    <div class="card card-default">
                        <div class="card-body card-body table-responsive p-0">
                            <table class="table table-hover table-striped text-nowrap linkedRow">
                                <thead>
                                <tr>
                                    <th>№</th>
                                    <th>Дата</th>
                                    <th>Статус</th>
                                    <th>Тип платежа</th>
                                    <th>Владелец</th>
                                    <th>Лицевой счет</th>
                                    <th>Приход/расход</th>
                                    <th>Сумма(грн)</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        {{ form.number }}
                                    </td>
                                    <td>
                                        {{ form.date }}
                                    </td>
                                    <td>
                                        {{ form.status }}
                                    </td>
                                    <td>
                                        {{ form.transaction_type }}
                                    </td>
                                    <td>
                                        {{ form.owner }}
                                    </td>
                                    <td>
                                        {{ form.personal_account }}
                                    </td>
                                    <td>
                                        {{ form.income_outcome }}
                                    </td>
                                    <td></td>
                                    <td></td>
                                </tr>

                                {% for transaction in instances %}
                                <tr>
                                    <td><a href="{{ transaction.get_update_url }}">{{ transaction.number }}</a></td>
                                    <td><a href="{{ transaction.get_update_url }}">{{ transaction.transaction_date|filter_none }}</a></td>
                                    <td><a href="{{ transaction.get_update_url }}">
                                        {% if transaction.status %}
                                            Проведен
                                        {% else %}
                                            Не проведен
                                        {% endif %}
                                    </a></td>
                                    <td><a href="{{ transaction.get_update_url }}">
                                        {{ transaction.payment_item_type }}
                                    </a></td>
                                    <td><a href="{{ transaction.get_update_url }}">
                                        {{ transaction.owner|filter_none }}
                                    </a></td>
                                    <td>
                                        <a href="{{ transaction.get_update_url }}">{{ transaction.personal_account|filter_none }}</a>
                                    </td>
                                    <td><a href="{{ transaction.get_update_url }}">
                                        {% if transaction.payment_item_type.type == 0 %}
                                            <span class="text-success">Приход</span>
                                        {% else %}
                                            <span class="text-danger">Расход</span>
                                        {% endif %}
                                    </a></td>
                                    <td><a href="{{ transaction.get_update_url }}">
                                        {% if transaction.payment_item_type.type == 0 %}
                                            <span class="text-success">{{ transaction.amount }}</span>
                                        {% else %}
                                            <span class="text-danger">{{ transaction.amount }}</span>
                                        {% endif %}
                                    </a></td>
                                    <td>
                                        <div class="btn-group">
                                            <a class="btn btn-default btn-sm"
                                               href="{{ transaction.get_update_url }}">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                            <a class="btn btn-default btn-sm"
                                               href="">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer">
                            <div>Проведен приход: <strong>{{ incomes }} грн</strong></div>
                            <div>Проведен расход: <strong>{{ outcomes }} грн</strong></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'bootstrap/jquery/jquery.min.js' %}"></script>
<script>
    $('.search_form').each(function(){
        $(this).on('change', function(){
            $(this).submit();
        })
    })

</script>
{% endblock %}
