{% extends 'user_profile_base.html' %}
{% load static %}

{% block title %}Чат{% endblock %}

{% block content %}
	<div class="content-wrapper">
		<div class="content-header">
			<div class="container-fluid">
				<div class="row mb-2 border_bottom" style="align-items: center;">
					<div class="col-sm-6">
						<h1 class="m-0">{{ to_user.full_name }}</h1>
					</div><!-- /.col -->
					<div class="col-sm-6">
						<nav aria-label="breadcrumb" class="breadcrumb_pull_right">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="" style="color: black;">
									<i class="fa fa-home"></i> Главная</a></li>
								<li class="breadcrumb-item">
									<a href="" style="color: black;">Чаты</a>
								</li>
								<li class="breadcrumb-item active" aria-current="page">Чат</li>
							</ol>
						</nav>
					</div>
				</div><!-- /.row -->
			</div><!-- /.container-fluid -->
		</div>

		{% include 'chat/detail_chat_mixin.html' %}
	</div>
{% endblock %}
{% block script %}
	{% include 'chat/detail_chat_script_mixin.html' with to_user=to_user %}
{% endblock %}
