{% extends "user_profile_base.html" %}
{% load static %}

{% block title %}Чаты{% endblock %}

{% block head %}
	<link rel="stylesheet" href="{% static 'admin_panel/plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}">
{% endblock %}

{% block content %}
	<div class="content-wrapper">
		<div class="content-header">
			<div class="container-fluid">
				<div class="row mb-2 border_bottom" style="align-items: center;">
					<div class="col-sm-6">
						<h1 class="m-0">Чаты</h1>
					</div><!-- /.col -->
					<div class="col-sm-6">
						<nav aria-label="breadcrumb" class="breadcrumb_pull_right">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="{% url 'admin_panel:index' %}" style="color: black;">
									<i class="fa fa-home"></i> Главная</a></li>
								<li class="breadcrumb-item active" aria-current="page">Чаты</li>
							</ol>
						</nav>
					</div>
				</div><!-- /.row -->
			</div><!-- /.container-fluid -->
		</div>

		<div class="content">
			<div class="container-fluid">
				<div class="card card-default" style="margin-top: 30px;">
					<div class="card-header">
						<form action="" method="get">
							{% csrf_token %}
							<div style="float:right;">
								<div class="input-container">
									{{ form.text }}
									<span class="fas fa-search form-control-feedback"></span>
								</div>
							</div>
						</form>
					</div>
					<div class="card-body table-responsive">
						<div class="row">
							<div class="col-12">
								<button type="button" class="btn btn-default btn-sm checkbox-toggle">
									<i class="far fa-square"></i>
								</button>
								<button type="button" class="btn btn-default btn-sm delete_toggle">
									<i class="far fa-trash-alt"></i>
								</button>
							</div>
						</div>
						<div class="row" style="margin-top: 10px;">
							<div class="col-12">
								<div>
									<table class="table table-hover table-striped text-nowrap">
										<thead>
										<tr>
											<th style="max-width: 50px; width: 50px;"></th>
											<th style="max-width: 300px; width: 300px;">Пользователь</th>
											<th></th>
										</tr>
										</thead>
										<tbody>
										{% for chat in chats %}
											<tr>
												<td>
													<div class="icheck-primary d-inline">
														<input type="checkbox" id="checkboxPrimary-{{ forloop.counter }}"
															   class="delete_checkbox" data-chat_uuid="{{ chat.chat_uuid }}">
														<label for="checkboxPrimary-{{ forloop.counter }}">
														</label>
													</div>
													<input type="hidden" value="" class="chat_pk">
												</td>
												<td>
													{% if chat.chat_with_admin %}
														<strong>{{ chat.to_user_full_name }}</strong>
													{% else %}
														{{ chat.to_user_full_name }}
													{% endif %}
												</td>
												<td>
													<a href="{% url 'user_profile:user_chat_detail' chat.to_user_pk %}"
													   class="btn-sm btn-success">Открыть чат</a>
												</td>
											</tr>
										{% endfor %}
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div class="row" style="margin-top: 5px;">
							<div class="col-12">
								<button type="button" class="btn btn-default btn-sm checkbox-toggle">
									<i class="far fa-square"></i>
								</button>
								<button type="button" class="btn btn-default btn-sm delete_toggle">
									<i class="far fa-trash-alt"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="{% static 'bootstrap/jquery/jquery.min.js' %}"></script>
	<script src="{% static 'admin_panel/js/checkbox_toggle.js' %}"></script>
	<script src="{% static 'admin_panel/js/utils.js' %}"></script>
	<script>
        $(document).ready(function(){
            submit_form_after_keypress();

            $('.checkbox-toggle').each(function(){
                $(this).on('click', function(){
                    if($(this).hasClass('checked')){
                        $('.delete_checkbox').each(function(){
                            $(this).prop('checked', false);
                        })
                        setCheckboxesToggleIcon(false);
                        $(this).removeClass('checked')
                    }else{
                        $('.delete_checkbox').each(function(){
                            $(this).prop('checked', true);
                        })
                        setCheckboxesToggleIcon(true);
                        $(this).addClass('checked');
                    }
                })
            })
            $('.delete_toggle').each(function(){
                $(this).on('click', function(){
                    if(confirm('Вы уверены что хотите удалить эти чаты?')){
                        let result = [];
                        $('input[type=checkbox]:checked').each(function(){
                            result.push($(this).closest('tr').find('.message_pk').val());
                        })
                        $.ajax({
                            url: '{% url "admin_panel:delete_messages_admin" %}',
                            type: 'GET',
                            data: {'pk': JSON.stringify(result)},
                        })
                            .done(function() {
                                window.location.reload();
                            })
                    }
                })
            })
        })
        function setCheckboxesToggleIcon(status){
            $('.checkbox-toggle').each(function(){
                if(status){
                    $(this).find('i').removeClass('fa-square');
                    $(this).find('i').addClass('fa-check-square');
                }else{
                    $(this).find('i').removeClass('fa-check-square');
                    $(this).find('i').addClass('fa-square');
                }
            })
        }
	</script>
{% endblock %}