DEBUG=1
SECRET_KEY=test_production_image
DJANGO_ALLOWED_HOSTS=127.0.0.1[::1]

# DB
POSTGRES_ENGINE=django.db.backends.postgresql
POSTGRES_DB=db
POSTGRES_USER=db_user
POSTGRES_PASSWORD=db_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
SOCKET_IO_PATH=127.0.0.1:5000