.profile_list_photo{
    margin: 0 auto;
    border: 3px solid #d2d6de;
    padding: 3px;
}

.table_tr{
    border: 1px solid #ddd;
    border-left: 0;
    border-right: 0;
    padding: 10px 15px;
}

.table_td{
    padding: 10px 15px;
}

.font-14{
    font-size: 14px;
}