{% extends "admin_base.html" %}
{% load static %}
{% load beautify_line %}

{% block title %}Заявки вызова мастера{% endblock %}


{% block head %}
<link rel="stylesheet" href="{% static 'admin_panel/plugins/daterangepicker/daterangepicker.css' %}">
<link rel="stylesheet" href="{% static 'admin_panel/plugins/select2/css/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'admin_panel/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">
{% endblock %}


{% block content %}
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2 border_bottom" style="align-items: center;">
                <div class="col-sm-6">
                    <h1 class="m-0">Заявки вызова мастера</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <nav aria-label="breadcrumb" class="breadcrumb_pull_right">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'admin_panel:index' %}" style="color: black;">
                                <i class="fa fa-home"></i> Главная</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Заявки вызова мастера</li>
                        </ol>
                    </nav>
                </div>
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>


    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <a href="{% url 'admin_panel:create_master_request_admin' %}" class="btn btn-success" style="float: right;">Добавить
                        заявку</a>
                </div>
                <div class="col-12" style="margin-top:15px;">
                    <div class="card card-default">
                        <div class="card-header">
                            <a href="{% url 'admin_panel:list_master_requests_admin' %}" class="btn btn-default"
                            style="float:right;">Очистить</a>
                        </div>
                        <div class="card-body card-body table-responsive p-0">
                            <form action="" method="get">
                                {% csrf_token %}
                            <table class="table table-hover table-striped text-nowrap linkedRow">
                                <thead>
                                <tr>
                                    <th>№ заявки</th>
                                    <th>Удобное время</th>
                                    <th>Тип мастера</th>
                                    <th>Описание</th>
                                    <th>Квартира</th>
                                    <th>Владелец</th>
                                    <th>Телефон</th>
                                    <th>Мастер</th>
                                    <th>Статус</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>{{ form.number }}</td>
                                    <td>
                                        <input type="text" id="date_range" class="form-control">
                                        {{ form.start }}
                                        {{ form.end }}
                                    </td>
                                    <td>{{ form.master_type }}</td>
                                    <td>{{ form.description }}</td>
                                    <td>{{ form.flat }}</td>
                                    <td>{{ form.owner }}</td>
                                    <td>{{ form.phone }}</td>
                                    <td>{{ form.master }}</td>
                                    <td>{{ form.status }}</td>
                                    <td></td>
                                </tr>

                                {% for req in instances %}
                                <tr>
                                    <td><a href="{% url 'admin_panel:detail_master_request_admin' req.pk %}">{{ req.pk }}</a></td>
                                    <td><a href="{% url 'admin_panel:detail_master_request_admin' req.pk %}">{{req.date}} - {{ req.time }}</a></td>
                                    <td><a href="{% url 'admin_panel:detail_master_request_admin' req.pk %}">{{ req.get_type_display }}</a></td>
                                    <td><a href="{% url 'admin_panel:detail_master_request_admin' req.pk %}">{{ req.description|truncatechars:30|filter_none }}</a></td>
                                    <td><a href="{% url 'admin_panel:detail_flat_admin' req.flat.pk %}"
                                    style="color: #007bff;">{{ req.flat }}, {{ req.flat.house }}</a></td>
                                    <td><a href="{% url 'admin_panel:detail_owner_admin' req.owner.pk %}"
                                           style="color: #007bff;">{{ req.owner|filter_none }}</a></td>
                                    <td><a href="{% url 'admin_panel:detail_master_request_admin' req.pk %}">{{ req.owner.phone_number|filter_none }}</a></td>
                                    <td><a href="{% url 'admin_panel:detail_master_request_admin' req.pk %}">{{ req.master|filter_none }}</a></td>
                                    <td class="text-center">
                                        {% if req.status == 0 %}
                                        <small class="label label-primary">Новое</small>
                                        {% elif req.status == 1 %}
                                        <small class="label label-warning">В работе</small>
                                        {% elif req.status == 2 %}
                                        <small class="label label-success">Выполнено</small>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            <a class="btn btn-default btn-sm"
                                               href="{% url 'admin_panel:update_master_request_admin' req.pk %}">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                            <a class="btn btn-default btn-sm"
                                               href="{% url 'admin_panel:delete_master_request_admin' req.pk %}">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'bootstrap/jquery/jquery.min.js' %}"></script>
<script src="{% static 'admin_panel/js/utils.js' %}"></script>
<script src="{% static 'admin_panel/js/requests.js' %}"></script>
<script>
    $(document).ready(function(){
        $('#date_range').daterangepicker({
            locale: {
                format: 'YYYY-MM-DD'
            }
        });
        $('#id_owner').select2({
            theme: 'bootstrap4',
            width: '100%',
        });
        $('#id_master').select2({
            theme: 'bootstrap4',
            width: '100%',
        })

        submit_form_after_keypress();

        $('.applyBtn').on('click', function(){
            const date_range = $('#date_range').data('daterangepicker');
            $('#date_start').val(date_range.startDate.format('YYYY-MM-DD'));
            $('#date_end').val(date_range.endDate.format('YYYY-MM-DD'));
            $('form').submit();
        })
    })
</script>
{% endblock %}
