{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans 'CRM-system for the management company of housing and communal services - "MY HOUSE 24"' %}{% endblock %}

{% block head %}
<meta name="title" content="{{ page.seo_title }}">
<meta name="description" content="{{ page.seo_description }}">
<meta name="keywords" content="{{ page.seo_keywords }}">
{% endblock %}

{% block about_header %}
<li class="nav-item active"><a class="nav-link" href="{% url 'website:about_page_view' %}">{% trans 'About us' %}</a></li>
{% endblock %}

{% block content %}
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'website:main_page_view' %}">{% trans 'Home' %} </a></li>
                        <li class="breadcrumb-item active" aria-current="page">{% trans 'About us' %}</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <div style="border-bottom: 1px solid #eee;"><h3>{{ page.title }}</h3></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="text">
                    {% if page.photo %}
                    <img src="{{ page.photo.url }}" alt="image"
                         style="float:right; margin: 0 0 15px 15px; max-width: 250px; height:310px;">
                    {% else %}
                    <img src="{% static 'img/logo.svg' %}" alt="image"
                         style="float:right; margin: 0 0 15px 15px; max-width: 250px;">
                    {% endif %}
                    {{ page.description|safe }}
                </div>
            </div>
        </div>

        <div class="row" style="margin-top:50px;">
            {% for inst in page.images.all %}
            <div class="col-xs-12 col-sm-6 col-md-3" style="margin-bottom: 30px; text-align:center;">
                <a href="">
                    <img src="{{ inst.image.url }}" alt class="img-thumbnail" style="height:250px;">
                </a>
            </div>
            {% endfor %}
        </div>

        <div class="row" style="margin-top: 60px;">
            <div class="col-md">
                <div style="border-bottom: 1px solid #eee;"><h3>{{ page.additional_title }}</h3></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                {{ page.additional_description|safe }}
            </div>
        </div>

        <div class="row" style="margin-top:50px;">
            {% for inst in page.add_images.all %}
            <div class="col-xs-12 col-sm-6 col-md-3" style="margin-bottom: 30px; text-align:center;">
                <a href="">
                    <img src="{{ inst.image.url }}" alt class="img-thumbnail" style="height:250px;">
                </a>
            </div>
            {% endfor %}
        </div>

        <div class="row" style="margin-top: 20px;">
            <div class="col-md">
                <div style="border-bottom: 1px solid #eee;"><h3>{% trans 'Documents' %}</h3></div>
            </div>
        </div>
        <div class="row" style="margin-top:50px;">
            {% for inst in page.documents.all %}
            <div class="col-xs-12 col-sm-6 col-md-3" style="margin-bottom: 30px;">
                <div style="display: table-cell; vertical-align:top;">
                    <i class="far fa-file fa-3x" style="width: 32px; float:left; margin-right: .3em;"
                   aria-hidden="true"></i>
                </div>
                <div style="display: table-cell; vertical-align:top;">
                    <h5>{{ inst.name }}</h5>
                    <a href="{% url 'website:download_document' inst.pk %}">{% trans 'Download document' %}</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}