{% extends "base.html" %}
{% load static %}

{% block title %}Система "МОЙ ДОМ" - Контакты{% endblock %}

{% block contact_header %}
<li class="nav-item"><a class="nav-link" href="{% url 'website:contacts_page_view' %}">Контакты</a></li>{% endblock %}

{% block content %}
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'website:main_page_view' %}">Главная </a></li>
                        <li class="breadcrumb-item active" aria-current="page">Контакты</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    {{ page.map|safe }}

    <div class="container" style="margin-top:50px;">
        <div class="row">
            <div class="col-xc-12 col-sm-7 col-md-8">
                <div class="text">
                    <h3>{{ page.title }}</h3>
                    {{ page.description|safe }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-4">
                <h3>Контакты</h3>
                <hr>
                <div class="text">
                    <h3></h3>
                    <p>
                        <i class="fas fa-user-circle"></i>
                        {{ page.full_name }}
                    </p>
                    <p>
                        <i class="fas fa-compass"></i>
                        {{ page.location }}
                    </p>
                    <p>
                        <i class="fas fa-map-marker"></i>
                        {{ page.address }}
                    </p>
                    <p>
                        <i class="fas fa-phone"></i>
                        <a href="tel:{{ page.phone }}">{{ page.phone }}</a>
                    </p>
                    <p>
                        <i class="fas fa-envelope"></i>
                        <a href="mailto:{{ page.email }}">{{ page.email }}</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

</section>
{% endblock %}