{% extends "base.html" %}
{% load static %}

{% block title %}Мой дом 24{% endblock %}

{% block head %}
<meta name="title" content="{{ page.seo_title }}">
<meta name="description" content="{{ page.seo_description }}">
<meta name="keywords" content="{{ page.seo_keywords }}">
{% endblock %}

{% block main_header %}<li class="nav-item active"><a class="nav-link" href="{% url 'website:main_page_view' %}">Главная</a></li>{% endblock %}

{% block content %}
        <!-- Page header-->
        <header>
            <div class="carousel slide" id="carouselExampleIndicators" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li class="active" data-target="#carouselExampleIndicators" data-slide-to="0"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        {% if page.slide1 %}
                        <img class="d-block w-100" src="{{ page.slide1.url }}" alt="..." />
                        {% else %}
                        <img class="d-block w-100" src="{% static 'img/default_form_image.png' %}" alt="..." />
                        {% endif %}
                    </div>
                    <div class="carousel-item">
                        {% if page.slide2 %}
                        <img class="d-block w-100" src="{{ page.slide2.url }}" alt="..." />
                        {% else %}
                        <img class="d-block w-100" src="{% static 'img/default_form_image.png' %}" alt="..." />
                        {% endif %}
                    </div>
                    <div class="carousel-item">
                        {% if page.slide3 %}
                        <img class="d-block w-100" src="{{ page.slide3.url }}" alt="..." />
                        {% else %}
                        <img class="d-block w-100" src="{% static 'img/default_form_image.png' %}" alt="..." />
                        {% endif %}
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </header>
        <!-- Page Content-->
        <section class="py-5">
            <div class="container">
                <div class="row">
                    <div class="col-xc-12 col-sm-7 col-md-8">
                        <hr>
                        <div class="text">
                            <h3>{{ page.title }}</h3>
                            <p>{{ page.description|safe }}</p>
                            <div class="row" style="align-items:center;">
                                <div class="col-4">
                                    <a href="{% url 'website:about_page_view' %}" class="btn btn-primary">Подробнее</a>
                                </div>
                                {% if page.show_link %}
                                <div class="col-8">
                                    <a href="https://apps.apple.com/us/app/%D0%BC%D0%BE%D0%B9%D0%B4%D0%BE%D0%BC24/id1308075440?l=ru&ls=1"><img src="{% static 'img/appstore.png' %}" alt="appStore"
                                    class="store-img"></a>
                                    <a href="https://play.google.com/store/apps/details?id=com.avadamedia.program.myhouse24&hl=uk"><img src="{% static 'img/googleplay.png' %}" alt="googlplay"
                                    class="store-img"></a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-5 col-md-4">
                        <h1>Контакты</h1>
                        <hr>
                        <div class="text">
                            <p>
                                <i class="fas fa-user-circle"></i>
                                    {{ additional_page.full_name }}
                            </p>
                            <p>
                                <i class="fas fa-compass"></i>
                                    {{ additional_page.location}}
                            </p>
                            <p>
                                <i class="fas fa-map-marker"></i>
                                    {{ additional_page.address }}
                            </p>
                            <p>
                                <i class="fas fa-phone"></i>
                                <a href="tel:{{ additional_page.phone }}">{{ additional_page.phone }}</a>
                            </p>
                            <p>
                                <i class="fas fa-envelope"></i>
                                <a href="mailto:{{ additional_page.email }}">{{ additional_page.email }}</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Portfolio Section-->
        <section class="py-5">
            <div class="container">
                <h2 class="mb-4 near-block-header">Рядом с нами</h2>
                <div class="row">
                    {% for block in page.blocks.all %}
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <div class="card h-100">
                            <a href="#!"><img class="card-img-top" src="{{ block.image.url }}" alt="..." /></a>
                            <div class="card-body">
                                <h4 class="card-title">{{ block.title }}</h4>
                                <p class="card-text">{{ block.description }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <hr class="my-0" />
{% endblock %}