{% extends "admin_base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans 'Owner Profile' %}{% endblock %}

{% block content %}
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2 border_bottom" style="align-items: center;">
                <div class="col-sm-6">
                    <h1 class="m-0">
                        {% trans 'Owner Profile' %}
                    </h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <nav aria-label="breadcrumb" class="breadcrumb_pull_right">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'admin_panel:index' %}" style="color: black;">
                                <i class="fa fa-home"></i> {% trans 'Home' %}</a></li>
                            <li class="breadcrumb-item">
                                <a href="{% url 'admin_panel:list_owners_admin' %}"
                                   style="color: black;">{% trans 'Owner Profiles' %}</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">{% trans 'Owner Profile' %}</li>
                        </ol>
                    </nav>
                </div>
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>


    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12" style="margin-top:15px;">
                    <div class="card card-default">
                        <div class="card-header">
                            <a href="{% url 'admin_panel:update_owner_admin' user.pk %}" class="btn btn-primary btn-sm"
                               style="float:right; margin-left:5px;">
                                {% trans 'Edit Profile' %}
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <div>
                                        {% if user.photo %}
                                        <img src="{{ user.photo.url }}" alt=""
                                             class="photo_image img_responsive preview_img profile_img" style="float:none;">
                                        {% else %}
                                        <img src="{% static 'img/default_form_image.png' %}" alt=""
                                             class="photo_image img_responsive preview_img profile_img" style="float:none;">
                                        {% endif %}
                                    </div>
                                    <div class="table-responsive no-padding">
                                        <table class="table table-bordered table-striped table-view">
                                            <tbody>
                                            <tr>
                                                <td>{% trans 'Status' %}</td>
                                                <td>
                                                    {% if user.status == 0 %}
                                                    <small class="label label-success">{{ user.get_status_display }}</small>
                                                    {% elif user.status == 1 %}
                                                    <small class="label label-blue">{{ user.get_status_display }}</small>
                                                    {% else %}
                                                    <small class="label label-danger">{{ user.get_status_display }}</small>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>ID</td>
                                                <td>{{ user.number }}</td>
                                            </tr>
                                            <tr>
                                                <td>{% trans 'Surname' %}</td>
                                                <td>{{ user.last_name }}</td>
                                            </tr>
                                            <tr>
                                                <td>{% trans 'Name' %}</td>
                                                <td>{{ user.first_name }}</td>
                                            </tr>
                                            <tr>
                                                <td>{% trans 'Middle' %}</td>
                                                <td>{% if user.patronym %}{{ user.patronym }}{% endif %}</td>
                                            </tr>
                                            <tr>
                                                <td>{% trans 'Birthday' %}</td>
                                                <td>{% if user.birthday %}{{ user.birthday }}{% endif %}</td>
                                            </tr>
                                            <tr>
                                                <td>{% trans 'About' %}</td>
                                                <td style="word-break:break-word;">{{ user.about }}</td>
                                            </tr>
                                            <tr>
                                                <td>{% trans 'Phone' %}</td>
                                                <td>{{ user.phone_number }}</td>
                                            </tr>
                                            <tr>
                                                <td>Viber</td>
                                                <td>{% if user.viber %}{{ user.viber }}{% endif %}</td>
                                            </tr>
                                            <tr>
                                                <td>Telegram</td>
                                                <td>{% if user.telegram %}{{ user.telegram }}{% endif %}</td>
                                            </tr>
                                            <tr>
                                                <td>Email</td>
                                                <td>{{ user.email }}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <h4>{% trans 'Flats' %}</h4>
                                    <div class="table-responsive no-padding" style="margin-top: 15px;">
                                        <table class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>{% trans 'House' %}</th>
                                                    <th>{% trans 'Section' %}</th>
                                                    <th>{% trans 'Flat' %}</th>
                                                    <th>{% trans 'Account' %}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for flat in user.flats.all %}
                                                    <tr>
                                                        <td>{{ forloop.counter }}</td>
                                                        <td>
                                                            {% if flat.house %}
                                                            <a href="{% url 'admin_panel:detail_house_admin' flat.house.pk %}">{{ flat.house.name }}</a>
                                                            {% endif %}
                                                        </td>
                                                        <td>{{ flat.section.name }}</td>
                                                        <td>
                                                            <a href="{% url 'admin_panel:detail_flat_admin' flat.pk %}">{% trans 'Flat' %} {{ flat.number }}</a>
                                                        </td>
                                                        <td>
                                                            {% if flat.account %}
                                                            <a href="{% url 'admin_panel:detail_account_admin' flat.account.pk %}">{{ flat.account }}</a>
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'bootstrap/jquery/jquery.min.js' %}"></script>
{% endblock %}
