{% extends "admin_base.html" %}
{% load static %}

{% block title %}Владельцы квартир{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'admin_panel/plugins/select2/css/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'admin_panel/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">
{% endblock %}


{% block content %}
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2 border_bottom" style="align-items: center;">
                <div class="col-sm-6">
                    <h1 class="m-0">Владельцы квартир</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <nav aria-label="breadcrumb" class="breadcrumb_pull_right">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'admin_panel:index' %}" style="color: black;">
                                <i class="fa fa-home"></i> Главная</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Владельцы квартир</li>
                        </ol>
                    </nav>
                </div>
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>


    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-success dropdown-toggle breadcrumb_pull_right" type="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Выберите действие
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'admin_panel:create_owner_admin' %}">Добавить владельца квартиры</a>
                        <a class="dropdown-item" href="#">Отправить сообщение должникам</a>
                        <a class="dropdown-item" href="#">Отправить приглашение</a>
                    </div>
                </div>
                <div class="col-12" style="margin-top:15px;">
                    <div class="card card-default">
                        <div class="card-header">
                            <a href="{% url 'admin_panel:list_owners_admin' %}" class="btn btn-default"
                            style="float:right;">Очистить</a>
                        </div>
                        <div class="card-body card-body table-responsive p-0">
                            <form action="" method="get">
                                {% csrf_token %}
                            <table class="table table-hover table-striped text-nowrap linkedRow">
                                <thead>
                                <tr>
                                    <th style="width: 110px; min-width: 110px">ID</th>
                                    <th style="width: 140px; min-width: 140px">
                                        {% if 'name_ascending' in request.path %}
                                            <a href="{% url 'admin_panel:list_owners_name_descending_admin' %}"
                                            class="submit_link">
                                               ФИО <i class="fas fa-sort-amount-up"></i>
                                            </a>
                                            <input type="hidden" class="next_link" 
                                            value="{% url 'admin_panel:list_owners_name_descending_admin' %}">
                                        {% elif 'name_descending' in request.path %}
                                            <a href="{% url 'admin_panel:list_owners_name_ascending_admin' %}"
                                            class="submit_link">
                                               ФИО <i class="fas fa-sort-amount-down"></i>
                                            </a>
                                            <input type="hidden" class="next_link" 
                                            value="{% url 'admin_panel:list_owners_name_ascending_admin' %}">
                                        {% else %}
                                            <a href="{% url 'admin_panel:list_owners_name_descending_admin' %}"
                                            class="submit_link">
                                                   ФИО
                                            </a>
                                            <input type="hidden" class="next_link" 
                                            value="{% url 'admin_panel:list_owners_name_descending_admin' %}">
                                        {% endif %}
                                    </th>
                                    <th style="width: 140px; min-width: 140px">Телефон</th>
                                    <th style="width: 140px; min-width: 140px">Email</th>
                                    <th style="min-width: 250px">Дом</th>
                                    <th style="min-width: 150px">Квартира</th>
                                    <th style="width: 110px; min-width: 110px">
                                        {% if 'date_ascending' in request.path %}
                                            <a href="{% url 'admin_panel:list_owners_date_joined_descending_admin' %}"
                                            class="submit_link">
                                               Добавлен <i class="fas fa-sort-amount-up"></i>
                                            </a>
                                            <input type="hidden" class="next_link" 
                                            value="{% url 'admin_panel:list_owners_date_joined_descending_admin' %}">
                                        {% elif 'date_descending' in request.path %}
                                            <a href="{% url 'admin_panel:list_owners_date_joined_ascending' %}"
                                            class="submit_link">
                                               Добавлен <i class="fas fa-sort-amount-down"></i>
                                            </a>
                                            <input type="hidden" class="next_link" 
                                            value="{% url 'admin_panel:list_owners_date_joined_ascending' %}">
                                        {% else %}
                                            <a href="{% url 'admin_panel:list_owners_date_joined_ascending' %}"
                                            class="submit_link">
                                                   Добавлен
                                            </a>
                                            <input type="hidden" class="next_link" 
                                            value="{% url 'admin_panel:list_owners_date_joined_ascending' %}">
                                        {% endif %}
                                    </th>
                                    <th style="min-width: 150px">Статус</th>
                                    <th style="min-width: 150px">Есть долг</th>
                                    <th style="width: 100px; min-width: 100px"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        {{ form.id_field }}
                                    </td>
                                    <td>
                                        {{ form.username }}
                                    </td>
                                    <td>
                                        {{ form.phone }}
                                    </td>
                                    <td>
                                        {{ form.email }}
                                    </td>
                                    <td>
                                        {{ form.house }}
                                    </td>
                                    <td>
                                        {{ form.flat }}
                                    </td>
                                    <td>
                                        {{ form.date_joined }}
                                    </td>
                                    <td>
                                        {{ form.status }}
                                    </td>
                                    <td>
                                        {{ form.is_debt }}
                                    </td>
                                    <td></td>
                                </tr>

                                {% for user in instances %}
                                <tr>
                                    <td><a href="{% url 'admin_panel:detail_owner_admin' user.pk %}">{{ user.pk }}</a></td>
                                    <td><a href="{% url 'admin_panel:detail_owner_admin' user.pk %}">{{ user.full_name }}</a></td>
                                    <td><a href="{% url 'admin_panel:detail_owner_admin' user.pk %}">{{ user.phone_number }}</a></td>
                                    <td><a href="{% url 'admin_panel:detail_owner_admin' user.pk %}">{{ user.email }}</a></td>
                                    <td>
                                        {% for flat in user.flats.all %}
                                            <a href="{% url 'admin_panel:detail_house_admin' flat.house.pk %}" style="color: #007bff;">
                                                {{ flat.house.name }}
                                            </a>
                                        {% if not forloop.last %},{% endif %}
                                        {% endfor %}
                                    </td>
                                    <td>
                                        {% for flat in user.flats.all %}
                                            <a href="{% url 'admin_panel:detail_flat_admin' flat.pk %}" style="color: #007bff;">
                                                {{ flat.number }}
                                            </a>
                                        {% if not forloop.last %},{% endif %}
                                        {% endfor %}
                                    </td>
                                    <td>{{ user.date_joined }}</td>
                                    <td class="text-center">
                                        {% if user.status == 0 %}
                                        <small class="label label-success">{{ user.get_status_display }}</small>
                                        {% elif user.status == 1 %}
                                        <small class="label label-warning">{{ user.get_status_display }}</small>
                                        {% else %}
                                        <small class="label label-danger">{{ user.get_status_display }}</small>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if user.has_debt %}
                                            Да
                                        {% else %}
                                            Нет
                                        {% endif %}
                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            <a class="btn btn-default btn-sm"
                                               href="">
                                                <i class="fas fa-envelope"></i>
                                            </a>
                                            <a class="btn btn-default btn-sm"
                                               href="{% url 'admin_panel:update_owner_admin' user.pk %}">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                            <a class="btn btn-default btn-sm delete_instances"
                                               href="{% url 'admin_panel:delete_owner_admin' user.pk %}">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="10">
                                        Ничего не найдено
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            </form>
                        </div>
                        <div class="card-footer">
                            Количество владельцев: <strong>{{ count }}</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'bootstrap/jquery/jquery.min.js' %}"></script>
<script src="{% static 'admin_panel/js/utils.js' %}"></script>
<script>
    $(document).ready(function(){
        $('#house').select2({
             theme: 'bootstrap4',
             width: '100%',
        })

        submit_form_after_keypress();
        submit_form_after_ordering();
        confirm_deleting();
    })
</script>
{% endblock %}
