{% extends "user_profile_base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2 border_bottom" style="align-items: center;">
                <div class="col-sm-6">
                    <h1 class="m-0">
                        {% trans 'Owner Profile' %}
                    </h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <nav aria-label="breadcrumb" class="breadcrumb_pull_right">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'user_profile:user_profile' request.user.pk %}" style="color: black;">
                                <i class="fa fa-home"></i> {% trans 'Home' %}</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{% trans 'Profile' %}</li>
                        </ol>
                    </nav>
                </div>
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>


    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3">
                    <div class="row">
                        <div class="col-md-6 col-lg-12">
                            <div class="card card-default" style="padding: 10px;">
                                {% if request.user.photo %}
                                <img src="{{ request.user.photo.url }}" alt="" class="photo_image profile_list_photo">
                                {% else %}
                                <img src="{% static 'img/default_form_image.png' %}" alt=""
                                     class="photo_image profile_list_photo">
                                {% endif %}
                                <h3 style="font-size:21px; margin-top:10px;" class="text-center">{{ request.user.full_name }}</h3>
                                <small class="text-muted text-center">{% trans 'Flat owner' %}</small>
                                <table style="margin-top:10px;">
                                    <tr class="table_tr">
                                        <td class="table_td font-14">Телефон</td>
                                        <td style="float:right;" class="table_td font-14">{{ request.user.phone_number }}</td>
                                    </tr>
                                    <tr class="table_tr">
                                        <td class="table_td font-14">Viber</td>
                                        <td style="float:right;" class="table_td font-14">
                                            {% if request.user.viber %}
                                                {{ request.user.viber }}
                                            {% else %}
                                                {% trans 'Not specified' %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr class="table_tr">
                                        <td class="table_td font-14">Telegram</td>
                                        <td style="float:right;" class="table_td font-14">
                                            {% if request.user.telegram %}
                                                {{ request.user.telegram }}
                                            {% else %}
                                                {% trans 'Not specified' %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr class="table_tr">
                                        <td class="table_td font-14">Email</td>
                                        <td style="float:right;" class="table_td font-14">{{ request.user.email }}</td>
                                    </tr>
                                </table>
                                <a href="{% url 'user_profile:edit_user_client' pk %}" class="btn btn-primary btn-block" style="margin-top:10px;">{% trans 'Change' %}</a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-12">
                            <h3 style="font-size:21px; margin-top:10px;">{% trans 'About me' %}</h3>
                            <div class="card card-default">
                                <div class="card-body">
                                    {% if request.user.about %}
                                        {{ request.user.about }}
                                    {% else %}
                                        {% trans 'Not specified' %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9">
                    <h2>{% trans 'My flats' %}</h2>
                    {% for flat in request.user.flats.all %}
                        <div class="card card-default">
                            <div class="card-header">
                                {% trans 'Flat Description' %}
                            </div>
                            <div class="card-body">
                                <p>{{ flat.house }}, {{ flat.house.address }}, кв.{{ flat }}</p>
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            {% if flat.house.image1 %}
                                            <img src="{{ flat.house.image1.url }}" alt
                                                 class="house_large_img img_responsive margin-auto-bottom-30">
                                            {% else %}
                                            <img src="{% static 'img/default_form_image.png' %}" alt
                                                 class="house_large_img img_responsive margin-auto-bottom-30">
                                            {% endif %}
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="row">
                                                <div class="col-6 col-md-6">
                                                    {% if flat.house.image2 %}
                                                    <img src="{{ flat.house.image2.url }}" alt
                                                         class="house_small_image img_responsive margin-auto-bottom-30">
                                                    {% else %}
                                                    <img src="{% static 'img/default_form_image.png' %}" alt
                                                        class="house_small_image img_responsive margin-auto-bottom-30">
                                                    {% endif %}
                                                </div>
                                                <div class="col-6 col-md-6">
                                                    {% if flat.house.image3  %}
                                                    <img src="{{ flat.house.image3.url }}" alt
                                                         class="house_small_image img_responsive margin-auto-bottom-30">
                                                    {% else %}
                                                    <img src="{% static 'img/default_form_image.png' %}" alt
                                                        class="house_small_image img_responsive margin-auto-bottom-30">
                                                    {% endif %}
                                                </div>
                                                <div class="col-6 col-md-6">
                                                    {% if flat.house.image4 %}
                                                    <img src="{{ flat.house.image4.url }}" alt
                                                         class="house_small_image img_responsive margin-auto-bottom-30">
                                                    {% else %}
                                                    <img src="{% static 'img/default_form_image.png' %}" alt
                                                        class="house_small_image img_responsive margin-auto-bottom-30">
                                                    {% endif %}
                                                </div>
                                                <div class="col-6 col-md-6">
                                                    {% if flat.house.image5 %}
                                                    <img src="{{ flat.house.image5.url }}" alt
                                                         class="house_small_image img_responsive margin-auto-bottom-30">
                                                    {% else %}
                                                    <img src="{% static 'img/default_form_image.png' %}" alt
                                                        class="house_small_image img_responsive margin-auto-bottom-30">
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th colspan="2">{% trans 'Description' %}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>{% trans 'House name' %}</td>
                                                    <td>{{ flat.house }}</td>
                                                </tr>
                                                <tr>
                                                    <td>{% trans 'Address' %}</td>
                                                    <td>{{ flat.house.address }}</td>
                                                </tr>
                                                <tr>
                                                    <td>{% trans 'Flat №' %}</td>
                                                    <td>{{ flat.number }}</td>
                                                </tr>
                                                <tr>
                                                    <td>{% trans 'Square' %}</td>
                                                    <td>{{ flat.square }}м<sup>2</sup></td>
                                                </tr>
                                                <tr>
                                                    <td>{% trans 'Floor' %}</td>
                                                    <td>{{ flat.floor }}</td>
                                                </tr>
                                                <tr>
                                                    <td>{% trans 'Section' %}</td>
                                                    <td>{{ flat.section }}</td>
                                                </tr>
                                                <tr>
                                                    <td>{% trans 'Account' %}</td>
                                                    <td>{{ flat.account }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                            </div>
                        </div>
                    {% empty %}
                        <div class="card card-default">
                            <div class="card-body">
                                <h5 class="text-center">{% trans 'You dont have flats yet.' %}</h5>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'bootstrap/jquery/jquery.min.js' %}"></script>
{% endblock %}